In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

pd.set_option('display.max_columns', None)

import warnings
warnings.filterwarnings('ignore')

import os
files_in_folder = os.listdir('Data/pub_describe')

In [2]:
files_in_folder

['.ipynb_checkpoints',
 'LFS_PUMF_EPA_FGMD_codebook.csv',
 'LFS_PUMF_EPA_FGMD_recordlayout.csv',
 'LFS_PUMF_FGMD_EPA_README_LISEZ MOI.txt']

In [3]:
# https://www150.statcan.gc.ca/n1/en/catalogue/71M0001X
# https://www.statcan.gc.ca/en/statistical-programs/instrument/3701_Q1_V9

df = pd.read_csv('Data/datasets_pub/pub1223.csv')

In [4]:
df.shape

(108024, 60)

In [8]:
df.sample()

,REC_NUM,SURVYEAR,SURVMNTH,LFSSTAT,PROV,CMA,AGE_12,AGE_6,SEX,MARSTAT,EDUC,MJH,EVERWORK,FTPTLAST,COWMAIN,IMMIG,NAICS_21,NOC_10,NOC_43,YABSENT,WKSAWAY,PAYAWAY,UHRSMAIN,AHRSMAIN,FTPTMAIN,UTOTHRS,ATOTHRS,HRSAWAY,YAWAY,PAIDOT,UNPAIDOT,XTRAHRS,WHYPT,TENURE,PREVTEN,HRLYEARN,UNION,PERMTEMP,ESTSIZE,FIRMSIZE,DURUNEMP,FLOWUNEM,UNEMFTPT,WHYLEFTO,WHYLEFTN,DURJLESS,AVAILABL,LKPUBAG,LKEMPLOY,LKRELS,LKATADS,LKANSADS,LKOTHERN,PRIORACT,YNOLOOK,TLOLOOK,SCHOOLN,EFAMTYPE,AGYOWNK,FINALWT
39742,39743,2023,12,3,47,0,9,NaN,2,1,2,NaN,2.0,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.0,4.0,1.0,NaN,NaN,42.0,2.0,NaN,1.0,NaN,1.0,1.0,NaN,1.0,NaN,NaN,1.0,5,NaN,115

In [6]:
df_info = pd.read_csv('Data/pub_describe/LFS_PUMF_EPA_FGMD_codebook.csv', encoding="latin")

In [7]:
df_info['Variable_Variable'].unique()

array(['rec_num', '1-9999999', 'survyear', '1976-', 'survmnth', '01',
       '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12',
       ' lfsstat    ', '1', '2', '3', '4', 'prov', '13', '24', '35', '46',
       '47', '48', '59', 'cma', '5', '6', '7', '8', '9', '0', 'age_12',
       'age_6    ', 'blank', 'sex', 'marstat', 'educ', 'mjh', 'everwork',
       'ftptlast', 'cowmain', 'immig', 'naics_21', '14', '15', '16', '17',
       '18', '19', '20', '21', 'noc_10    ', 'noc_43', '22', '23', '25',
       '26', '27', '28', '29', '30', '31', '32', '33', '34', '36', '37',
       '38', '39', '40', '41', '42', '43', 'yabsent', 'wksaway', 'Jan-99',
       'payaway', 'uhrsmain', '001-990', 'ahrsmain', '000-990',
       'ftptmain', 'utothrs', 'atothrs', 'hrsaway', 'yaway', 'paidot',
       'unpaidot', 'xtrahrs', 'whypt', 'tenure', '001-240', 'prevten',
       'hrlyearn', '000001-999999', 'union', 'permtemp', 'estsize',
       'firmsize', 'durunemp', '01-99', 'flowunem', 'unemftpt',
       'whylefto', 'whyleftn', '00', 'durjless', 'availabl', 'lkpubag',
       'lkemploy', 'lkrels', 'lkatads', 'lkansads', 'lkothern ',
       'prioract', 'ynolook', 'tlolook', 'schooln', 'efamtype', 'agyownk',
       'finalwt', '1-99999'], dtype=object)

In [12]:
df_info.sample()

,Field_Champ,Position_Position,Length_Longueur,Variable_Variable,EnglishLabel_EtiquetteAnglais,FrenchLabel_EtiquetteFrancais,EnglishUniverse_UniversAnglais,FrenchUniverse_UniversFrancais,EnglishNote_NoteAnglais,FrenchNote_NoteFrancais
127,NaN,NaN,NaN,18,"Information, culture and recreation","Information, culture et loisirs",NaN,NaN,"51, 71","51, 71"

In [9]:
notes = df_info[['EnglishNote_NoteAnglais']].dropna()

In [11]:
notes['EnglishNote_NoteAnglais'].unique()

array(['Codes based on NAICS 2017 labour variant',
       '111-112, 1100, 1151-1152', '113, 1153', '114', '21, 2100', '22',
       '23', '321, 327, 331-337', '311-316, 322-326, 339', '41', '44-45',
       '48-49', '52', '53', '54', '55-56', '61', '62', '51, 71', '72',
       '81', '91', 'Codes based on NOC 2021 labour variant',
       '00, 10, 20, 30, 40, 50, 60, 70, 80, 90', '14-Nov', '21-22',
       '31-33', '41-45', '51-55', '62-65', '72-75', '82-85', '92-95', '0',
       '10, 20, 30, 40, 50', '60', '70, 80, 90', '111', '112', '12', '13',
       '14', '211', '212', '213', '311', '312', '313', '32', '33', '411',
       '412', '413', '414', '421', '422', '43', '51', '54-55', '63', '64',
       '65', '73', '74', '75', '82-83', '84-85', '92-93', '94', '95',
       'Decimal implied',
       'Before taxes and other deductions. Includes tips, commission and bonuses. Two decimals implied',
       'Includes those with single location',
       'Not known for future starts', 'Links pre-and post 1997 redesign',
       'From viewpoint of reference person'], dtype=object)

In [14]:
wages_info = df_info[df_info.EnglishNote_NoteAnglais =='Before taxes and other deductions. Includes tips, commission and bonuses. Two decimals implied']
wages_info

,Field_Champ,Position_Position,Length_Longueur,Variable_Variable,EnglishLabel_EtiquetteAnglais,FrenchLabel_EtiquetteFrancais,EnglishUniverse_UniversAnglais,FrenchUniverse_UniversFrancais,EnglishNote_NoteAnglais,FrenchNote_NoteFrancais
253,36.0,83.0,6.0,hrlyearn,Usual hourly wages,Salaire horaire habituel,"Currently employed, employees","Occupés, employés",Before taxes and other deductions. Includes ti...,Avant impôt et autres déductions. Comprend les...

In [15]:
col_desc = list(zip(df_info['Variable_Variable'], df_info['EnglishLabel_EtiquetteAnglais']))
for pair in col_desc:
    print(pair)

('rec_num', 'Order of record in file')
('1-9999999', nan)
('survyear', 'Survey year')
('1976-', nan)
('survmnth', 'Survey month')
('01', 'January')
('02', 'February')
('03', 'March')
('04', 'April')
('05', 'May')
('06', 'June')
('07', 'July')
('08', 'August')
('09', 'September')
('10', 'October')
('11', 'November')
('12', 'December')
(' lfsstat    ', 'Labour force status')
('1', 'Employed, at work')
('2', 'Employed, absent from work')
('3', 'Unemployed')
('4', 'Not in labour force')
('prov', 'Province')
('10', 'Newfoundland and Labrador')
('11', 'Prince Edward Island')
('12', 'Nova Scotia')
('13', 'New Brunswick')
('24', 'Quebec')
('35', 'Ontario')
('46', 'Manitoba')
('47', 'Saskatchewan')
('48', 'Alberta')
('59', 'British Columbia')
('cma', 'Nine largest CMAs')
('1', 'Québec')
('2', 'Montréal')
('3', 'Ottawa\x96Gatineau (Ontario part)')
('4', 'Toronto')
('5', 'Hamilton')
('6', 'Winnipeg')
('7', 'Calgary')
('8', 'Edmonton')
('9', 'Vancouver')
('0', 'Other CMA or non-CMA')
('age_12', 'Five-year age group of respondent')
('01', '15 to 19 years')
('02', '20 to 24 years')
('03', '25 to 29 years')
('04', '30 to 34 years')
('05', '35 to 39 years')
('06', '40 to 44 years')
('07', '45 to 49 years')
('08', '50 to 54 years')
('09', '55 to 59 years')
('10', '60 to 64 years')
('11', '65 to 69 years')
('12', '70 and over')
('age_6    ', 'Age in 2 and 3 year groups, 15 to 29')
('1', '15 to 16 years')
('2', '17 to 19 years')
('3', '20 to 21 years')
('4', '22 to 24 years')
('5', '25 to 26 years')
('6', '27 to 29 years')
('blank', 'Not applicable')
('sex', 'Sex of respondent')
('1', 'Male')
('2', 'Female')
('marstat', 'Marital status of respondent')
('1', 'Married')
('2', 'Living in common-law')
('3', 'Widowed')
('4', 'Separated')
('5', 'Divorced')
('6', 'Single, never married')
('educ', 'Highest educational attainment')
('0', '0 to 8 years')
('1', 'Some high school')
('2', 'High school graduate')
('3', 'Some postsecondary')
('4', 'Postsecondary certificate or diploma')
('5', "Bachelor's degree")
('6', "Above bachelor's degree")
('mjh', 'Single or multiple jobholder')
('1', 'Single jobholder, including job changers')
('2', 'Multiple jobholder')
('blank', 'Not applicable')
('everwork', 'Identifies if a person has worked in the last year')
('1', 'Yes, within last year')
('2', 'Yes, more than 1 year ago')
('3', 'No, never worked')
('blank', 'Not applicable')
('ftptlast', 'Full- or part-time status of last job')
('1', 'Full-time (30 hours or more)')
('2', 'Part-time (1 to 29 hours)')
('blank', 'Not applicable')
('cowmain', 'Class of worker, main job')
('1', 'Public sector employees')
('2', 'Private sector employees')
('3', 'Self-employed incorporated, with paid help')
('4', 'Self-employed incorporated, no paid help')
('5', 'Self-employed unincorporated, with paid help')
('6', 'Self-employed unincorporated, no paid help')
('7', 'Unpaid family worker')
('blank', 'Not applicable')
('immig', 'Immigrant status')
('1', 'Immigrant, landed 10 or less years earlier')
('2', 'Immigrant, landed more than 10 years earlier')
('3', 'Non-immigrant')
('naics_21', 'Industry of main job')
('01', 'Agriculture')
('02', 'Forestry and logging and support activities for forestry')
('03', 'Fishing, hunting and trapping')
('04', 'Mining, quarrying, and oil and gas extraction')
('05', 'Utilities')
('06', 'Construction')
('07', 'Manufacturing - durable goods')
('08', 'Manufacturing - non-durable goods')
('09', 'Wholesale trade')
('10', 'Retail trade')
('11', 'Transportation and warehousing')
('12', 'Finance and insurance')
('13', 'Real estate and rental and leasing')
('14', 'Professional, scientific and technical services')
('15', 'Business, building and other support services')
('16', 'Educational services')
('17', 'Health care and social assistance')
('18', 'Information, culture and recreation')
('19', 'Accommodation and food services')
('20', 'Other services (except public administration)')
('21', 'Public administration')
('blank', 'Not applicable')
('noc_10    ', 'Occupation at main job')
('01', 'Management occupations')
('02', 'Business, finance and administration occupations, except management')
('03', 'Natural and applied sciences and related occupations, except management')
('04', 'Health occupations, except management')
('05', 'Occupations in education, law and social, community and government services, except management')
('06', 'Occupations in art, culture, recreation and sport, except management')
('07', 'Sales and service occupations, except management')
('08', 'Trades, transport and equipment operators and related occupations, except management')
('09', 'Natural resources, agriculture and related production occupations, except management')
('10', 'Occupations in manufacturing and utilities, except management')
('blank', 'Not applicable')
('noc_43', 'Occupation at main job')
('01', 'Legislative and senior management occupations')
('02', 'Specialized middle management occupations')
('03', 'Middle management occupations in retail and wholesale trade and customer services')
('04', 'Middle management occupations in trades, transportation, production and utilities')
('05', 'Professional occupations in finance')
('06', 'Professional occupations in business')
('07', 'Administrative and financial supervisors and specialized administrative occupations')
('08', 'Administrative occupations and transportation logistics occupations')
('09', 'Administrative and financial support and supply chain logistics occupations')
('10', 'Professional occupations in natural sciences')
('11', 'Professional occupations in applied sciences (except engineering)')
('12', 'Professional occupations in engineering')
('13', 'Technical occupations related to natural and applied sciences')
('14', 'Health treating and consultation services professionals')
('15', 'Therapy and assessment professionals')
('16', 'Nursing and allied health professionals')
('17', 'Technical occupations in health')
('18', 'Assisting occupations in support of health services')
('19', 'Professional occupations in law')
('20', 'Professional occupations in education services')
('21', 'Professional occupations in social and community services')
('22', 'Professional occupations in government services')
('23', 'Occupations in front-line public protection services')
('24', 'Paraprofessional occupations in legal, social, community and education services')
('25', 'Assisting occupations in education and in legal and public protection')
('26', 'Care providers and public protection support occupations and student monitors, crossing guards and related occupations')
('27', 'Professional occupations in art and culture')
('28', 'Technical occupations in art, culture and sport')
('29', 'Occupations in art, culture and sport')
('30', 'Support occupations in art, culture and sport')
('31', 'Retail sales and service supervisors and specialized occupations in sales and services')
('32', 'Occupations in sales and services')
('33', 'Sales and service representatives and other customer and personal services occupations')
('34', 'Sales and service support occupations')
('35', 'Technical trades and transportation officers and controllers')
('36', 'General trades')
('37', 'Mail and message distribution, other transport equipment operators and related maintenance workers')
('38', 'Helpers and labourers and other transport drivers, operators and labourers')
('39', 'Supervisors and occupations in natural resources, agriculture and related production')
('40', 'Workers and labourers in natural resources, agriculture and related production')
('41', 'Supervisors, central control and process operators in processing, manufacturing and utilities and aircraft assemblers and inspectors')
('42', 'Machine operators, assemblers and inspectors in processing, manufacturing and printing')
('43', 'Labourers in processing, manufacturing and utilities')
('blank', 'Not applicable')
('yabsent', 'Reason of absence, full week')
('0', 'Other reasons')
('1', 'Own illness or disability')
('2', 'Personal or family responsibilities')
('3', 'Vacation')
('blank', 'Not applicable')
('wksaway', 'Number of weeks absent from work')
('Jan-99', 'Weeks')
('blank', 'Not applicable')
('payaway', 'Paid for time off, full-week absence only')
('1', 'Yes')
('2', 'No')
('blank', 'Not applicable')
('uhrsmain', 'Usual hours worked per week at main job')
('001-990', 'Hours')
('blank', 'Not applicable')
('ahrsmain', 'Actual hours worked per week at main job')
('000-990', 'Hours')
('blank', 'Not applicable')
('ftptmain', 'Full- or part-time status at main or only job')
('1', 'Full-time')
('2', 'Part-time')
('blank', 'Not applicable')
('utothrs', 'Usual hours worked per week at all jobs')
('001-990', 'Hours')
('blank', 'Not applicable')
('atothrs', 'Actual hours worked per week at all jobs')
('000-990', 'Hours')
('blank', 'Not applicable')
('hrsaway', 'Hours away from work, part-week absence only')
('000-990', 'Hours')
('blank', 'Not applicable')
('yaway', 'Reason for part-week absence')
('0', 'Other reasons')
('1', 'Own illness or disability')
('2', 'Personal or family responsibilities')
('3', 'Vacation or civic holiday')
('4', 'Working short-time')
('blank', 'Not applicable')
('paidot', 'Paid overtime hours in reference week')
('000-990', 'Hours')
('blank', 'Not applicable')
('unpaidot', 'Unpaid overtime hours in reference week')
('000-990', 'Hours')
('blank', 'Not applicable')
('xtrahrs', 'Number of overtime or extra hours worked')
('000-990', 'Hours')
('blank', 'Not applicable')
('whypt', 'Reason for part-time work')
('0', 'Other reasons')
('1', 'Own illness or disability')
('2', 'Caring for children')
('3', 'Other personal or family responsibilities')
('4', 'Going to school')
('5', 'Personal preference')
('6', 'Business conditions or could not find full-time work, looked for full-time work in last month')
('7', 'Business conditions or could not find full-time work, did not look for full-time work in last month')
('blank', 'Not applicable')
('tenure', 'Job tenure with current employer')
('001-240', 'Months')
('blank', 'Not applicable')
('prevten', 'Job tenure with previous employer')
('001-240', 'Months')
('blank', 'Not applicable')
('hrlyearn', 'Usual hourly wages')
('000001-999999', 'Current dollars')
('blank', 'Not applicable')
('union', 'Union status')
('1', 'Union member')
('2', 'Not a member but covered by a union contract or collective agreement')
('3', 'Non-unionized')
('blank', 'Not applicable')
('permtemp', 'Job permanency')
('1', 'Permanent')
('2', 'Temporary, seasonal job')
('3', 'Temporary, term or contract job')
('4', 'Temporary, casual or other temporary jobs')
('blank', 'Not applicable')
('estsize', 'Establishment size')
('1', 'Less than 20 employees')
('2', '20 to 99 employees')
('3', '100 to 500 employees')
('4', 'More than 500 employees')
('blank', 'Not applicable')
('firmsize', 'Firm size')
('1', 'Less than 20 employees')
('2', '20 to 99 employees')
('3', '100 to 500 employees')
('4', 'More than 500 employees')
('blank', 'Not applicable')
('durunemp', 'Duration of unemployment')
('01-99', 'Weeks')
('blank', 'Not applicable')
('flowunem', 'Flows into unemployment')
('1', 'Job losers, temporary layoff')
('2', 'Job losers, permanent layoff')
('3', 'Job leavers')
('4', 'Job leavers/losers (status unknown), worked more than 1 year ago ')
('5', 'New entrants')
('6', 'Re-entrants, worked 1 year ago or less')
('7', 'Re-entrants, worked more than 1 year ago')
('8', 'Future starts')
('blank', 'Not applicable')
('unemftpt', 'Job seekers by type of work sought and temporary layoffs by work status of last job')
('1', 'Full-time')
('2', 'Part-time')
('3', 'Future starts')
('blank', 'Not applicable')
('whylefto', 'Reason for leaving job during previous year ')
('0', 'Job leavers, other reasons')
('1', 'Job leavers, own illness or disability')
('2', 'Job leavers, personal or family responsibilities')
('3', 'Job leavers, going to school')
('4', 'Job losers, laid off')
('5', 'Job leavers, retired')
('blank', 'Not applicable')
('whyleftn', 'Reason for leaving job during previous year ')
('00', 'Job leavers, other reasons')
('01', 'Job leavers, own illness or disability')
('02', 'Job leavers, caring for children')
('03', 'Job leavers, pregnancy')
('04', 'Job leavers, personal or family responsibilities')
('05', 'Job leavers, going to school')
('06', 'Job leavers, dissatisfied')
('07', 'Job leavers, retired')
('08', 'Job leavers, business sold or closed down (self-employed)')
('09', 'Job losers, end of seasonal job (employee)')
('10', 'Job losers, end of temporary or casual (employee)')
('11', 'Job losers, company moved or out of business (employee)')
('12', 'Job losers, business conditions (employee)')
('13', 'Job losers, dismissal or other reasons')
('blank', 'Not applicable')
('durjless', 'Duration of joblessness')
('001-240', 'Months')
('blank', 'Not applicable')
('availabl', 'Availability during the reference week')
('1', 'Not available')
('2', 'Yes, available')
('blank', 'Not applicable')
('lkpubag', 'Unemployed, used public employment agency')
('1', 'Yes')
('blank', 'Not applicable')
('lkemploy', 'Unemployed, checked with employers directly')
('1', 'Yes')
('blank', 'Not applicable')
('lkrels', 'Unemployed, checked with friends or relatives')
('1', 'Yes')
('blank', 'Not applicable')
('lkatads', 'Unemployed, looked at job ads')
('1', 'Yes')
('blank', 'Not applicable')
('lkansads', 'Unemployed, placed or answered ads')
('1', 'Yes')
('blank', 'Not applicable')
('lkothern ', 'Unemployed, other methods')
('1', 'Yes')
('blank', 'Not applicable')
('prioract', 'Main activity before started looking for work')
('0', 'Other')
('1', 'Working')
('2', 'Managing a home')
('3', 'Going to school')
('blank', 'Not applicable')
('ynolook', 'Reason for not looking for work during the reference week')
('0', 'Wanted work, reason - other')
('1', 'Wanted work, reason - own illness or disability')
('2', 'Wanted work, reason - caring for children')
('3', 'Wanted work, reason - other personal or family responsibilities')
('4', 'Wanted work, reason - school')
('5', 'Wanted work, reason - awaiting recall or reply')
('6', 'Wanted work, reason - discouraged')
('blank', 'Not applicable')
('tlolook', 'Temporary layoff, looked for work during the last four weeks')
('1', 'Yes')
('2', 'No')
('blank', 'Not applicable')
('schooln', 'Current student status')
('1', 'Non-student')
('2', 'Full-time student')
('3', 'Part-time student')
('blank', 'Not applicable')
('efamtype', 'Type of economic family')
('01', 'Person not in an economic family')
('02', 'Dual-earner couple, no children or none under 25')
('03', 'Dual-earner couple, youngest child 0 to 17')
('04', 'Dual-earner couple, youngest child 18 to 24')
('05', 'Single-earner couple, male employed, no children or none under 25')
('06', 'Single-earner couple, male employed, youngest child 0 to 17')
('07', 'Single-earner couple, male employed, youngest child 18 to 24')
('08', 'Single-earner couple, female employed, no children or none under 25')
('09', 'Single-earner couple, female employed, youngest child 0 to 17')
('10', 'Single-earner couple, female employed, youngest child 18 to 24')
('11', 'Non-earner couple, no children or none under 25')
('12', 'Non-earner couple, youngest child 0 to 17')
('13', 'Non-earner couple, youngest child 18 to 24')
('14', 'Lone-parent family, parent employed, youngest child 0 to 17')
('15', 'Lone-parent family, parent employed, youngest child 18 to 24')
('16', 'Lone-parent family, parent not employed, youngest child 0 to 17')
('17', 'Lone-parent family, parent not employed, youngest child 18 to 24')
('18', 'Other families')
('agyownk', 'Age of youngest child')
('1', 'Youngest child less than 6 years')
('2', 'Youngest child 6 to 12 years')
('3', 'Youngest child 13 to 17 years')
('4', 'Youngest child 18 to 24 years')
('blank', 'Not applicable')
('finalwt', 'Standard final weight')
('1-99999', nan)

In [16]:
cols = [col.lower() for col in df.columns]

In [17]:
full_col_names = []
for pair in col_desc:
    for col in cols:
        if pair[0].strip() == col:
            print(col, '-', pair[1])
            full_col_names.append(pair[1])

rec_num - Order of record in file
survyear - Survey year
survmnth - Survey month
lfsstat - Labour force status
prov - Province
cma - Nine largest CMAs
age_12 - Five-year age group of respondent
age_6 - Age in 2 and 3 year groups, 15 to 29
sex - Sex of respondent
marstat - Marital status of respondent
educ - Highest educational attainment
mjh - Single or multiple jobholder
everwork - Identifies if a person has worked in the last year
ftptlast - Full- or part-time status of last job
cowmain - Class of worker, main job
immig - Immigrant status
naics_21 - Industry of main job
noc_10 - Occupation at main job
noc_43 - Occupation at main job
yabsent - Reason of absence, full week
wksaway - Number of weeks absent from work
payaway - Paid for time off, full-week absence only
uhrsmain - Usual hours worked per week at main job
ahrsmain - Actual hours worked per week at main job
ftptmain - Full- or part-time status at main or only job
utothrs - Usual hours worked per week at all jobs
atothrs - Actual hours worked per week at all jobs
hrsaway - Hours away from work, part-week absence only
yaway - Reason for part-week absence
paidot - Paid overtime hours in reference week
unpaidot - Unpaid overtime hours in reference week
xtrahrs - Number of overtime or extra hours worked
whypt - Reason for part-time work
tenure - Job tenure with current employer
prevten - Job tenure with previous employer
hrlyearn - Usual hourly wages
union - Union status
permtemp - Job permanency
estsize - Establishment size
firmsize - Firm size
durunemp - Duration of unemployment
flowunem - Flows into unemployment
unemftpt - Job seekers by type of work sought and temporary layoffs by work status of last job
whylefto - Reason for leaving job during previous year
whyleftn - Reason for leaving job during previous year
durjless - Duration of joblessness
availabl - Availability during the reference week
lkpubag - Unemployed, used public employment agency
lkemploy - Unemployed, checked with employers directly
lkrels - Unemployed, checked with friends or relatives
lkatads - Unemployed, looked at job ads
lkansads - Unemployed, placed or answered ads
lkothern - Unemployed, other methods
prioract - Main activity before started looking for work
ynolook - Reason for not looking for work during the reference week
tlolook - Temporary layoff, looked for work during the last four weeks
schooln - Current student status
efamtype - Type of economic family
agyownk - Age of youngest child
finalwt - Standard final weight

In [18]:
print([col.lower().replace(' ', '_').replace('_of_respondent', '').replace('-', '_') for col in full_col_names])

['order_of_record_in_file', 'survey_year', 'survey_month', 'labour_force_status', 'province', 'nine_largest_cmas', 'five_year_age_group', 'age_in_2_and_3_year_groups,_15_to_29', 'sex', 'marital_status', 'highest_educational_attainment', 'single_or_multiple_jobholder', 'identifies_if_a_person_has_worked_in_the_last_year', 'full__or_part_time_status_of_last_job', 'class_of_worker,_main_job', 'immigrant_status', 'industry_of_main_job', 'occupation_at_main_job', 'occupation_at_main_job', 'reason_of_absence,_full_week', 'number_of_weeks_absent_from_work', 'paid_for_time_off,_full_week_absence_only', 'usual_hours_worked_per_week_at_main_job', 'actual_hours_worked_per_week_at_main_job', 'full__or_part_time_status_at_main_or_only_job', 'usual_hours_worked_per_week_at_all_jobs', 'actual_hours_worked_per_week_at_all_jobs', 'hours_away_from_work,_part_week_absence_only', 'reason_for_part_week_absence', 'paid_overtime_hours_in_reference_week', 'unpaid_overtime_hours_in_reference_week', 'number_of_overtime_or_extra_hours_worked', 'reason_for_part_time_work', 'job_tenure_with_current_employer', 'job_tenure_with_previous_employer', 'usual_hourly_wages', 'union_status', 'job_permanency', 'establishment_size', 'firm_size', 'duration_of_unemployment', 'flows_into_unemployment', 'job_seekers_by_type_of_work_sought_and_temporary_layoffs_by_work_status_of_last_job', 'reason_for_leaving_job_during_previous_year_', 'reason_for_leaving_job_during_previous_year_', 'duration_of_joblessness', 'availability_during_the_reference_week', 'unemployed,_used_public_employment_agency', 'unemployed,_checked_with_employers_directly', 'unemployed,_checked_with_friends_or_relatives', 'unemployed,_looked_at_job_ads', 'unemployed,_placed_or_answered_ads', 'unemployed,_other_methods', 'main_activity_before_started_looking_for_work', 'reason_for_not_looking_for_work_during_the_reference_week', 'temporary_layoff,_looked_for_work_during_the_last_four_weeks', 'current_student_status', 'type_of_economic_family', 'age_of_youngest_child', 'standard_final_weight']

In [19]:
df.columns = ['record_order', 'survey_year', 'survey_month', 'labour_force_status', 'province', 'nine_largest_cmas', 
 'five_year_age_group', 'age_group_15_29', 'sex', 'marital_status', 'highest_educational_attainment', 
 'single_or_multiple_jobholder', 'person_has_worked_in_last_year', 'full_or_part_time_last_job', 'class_of_worker_main_job', 
 'immigrant_status', 'industry_of_main_job', 'occupation_at_main_job_col1', 'occupation_at_main_job_col2', 
 'reason_of_absence_full_week', 'number_of_weeks_absent_from_work', 'paid_for_time_off_full_week_absence', 
 'usual_hours_worked_per_week_at_main_job', 'actual_hours_worked_per_week_at_main_job', 
 'full_or_part_time_main_job', 'usual_hours_worked_per_week_all_jobs', 'actual_hours_worked_per_week_all_jobs', 
 'hours_away_from_work_part_week_absence', 'reason_for_part_week_absence', 'paid_overtime_hours_in_reference_week', 
 'unpaid_overtime_hours_in_reference_week', 'number_of_overtime_or_extra_hours_worked', 'reason_for_part_time_work', 
 'job_tenure_months_current_employer', 'job_tenure_previous_employer', 'usual_hourly_wages', 'union_status', 'job_permanency', 
 'establishment_size', 'firm_size', 'duration_of_unemployment_weeks', 'flows_into_unemployment', 
 'job_seekers_by_type_of_work_sought_and_temporary_layoffs_by_work_status_of_last_job', 
 'reason_for_leaving_job_previous_year_col1', 'reason_for_leaving_job_previous_year_col2', 'duration_of_joblessness_months', 
 'availability_during_reference_week', 'unemployed,_used_public_employment_agency', 
 'unemployed,_checked_with_employers_directly', 'unemployed,_checked_with_friends_or_relatives', 
 'unemployed,_looked_at_job_ads', 'unemployed,_placed_or_answered_ads', 'unemployed,_other_methods', 
 'main_activity_before_started_looking_for_work', 'reason_for_not_looking_for_work_during_the_reference_week', 
 'temporary_layoff,_looked_for_work_during_the_last_four_weeks', 'current_student_status', 'type_of_economic_family', 
 'age_of_youngest_child', 'standard_final_weight']

In [20]:
df['number_of_weeks_absent_from_work'].isnull().sum()/len(df), df['reason_of_absence_full_week'].isnull().sum()/len(df), df['hours_away_from_work_part_week_absence'].isnull().sum()/len(df)

(0.9558986891801822, 0.9558986891801822, 0.5250592460934607)

In [53]:
df.columns = [col.lower().replace(' ', '_').replace('_of_respondent', '') for col in full_col_names]

In [54]:
df.sample()

,order_of_record_in_file,survey_year,survey_month,labour_force_status,province,nine_largest_cmas,five-year_age_group,"age_in_2_and_3_year_groups,_15_to_29",sex,marital_status,highest_educational_attainment,single_or_multiple_jobholder,identifies_if_a_person_has_worked_in_the_last_year,full-_or_part-time_status_of_last_job,"class_of_worker,_main_job",immigrant_status,industry_of_main_job,occupation_at_main_job,occupation_at_main_job,"reason_of_absence,_full_week",number_of_weeks_absent_from_work,"paid_for_time_off,_full-week_absence_only",usual_hours_worked_per_week_at_main_job,actual_hours_worked_per_week_at_main_job,full-_or_part-time_status_at_main_or_only_job,usual_hours_worked_per_week_at_all_jobs,actual_hours_worked_per_week_at_all_jobs,"hours_away_from_work,_part-week_absence_only",reason_for_part-week_absence,paid_overtime_hours_in_reference_week,unpaid_overtime_hours_in_reference_week,number_of_overtime_or_extra_hours_worked,reason_for_part-time_work,job_tenure_with_current_employer,job_tenure_with_previous_employer,usual_hourly_wages,union_status,job_permanency,establishment_size,firm_size,duration_of_unemployment,flows_into_unemployment,job_seekers_by_type_of_work_sought_and_temporary_layoffs_by_work_status_of_last_job,reason_for_leaving_job_during_previous_year_,reason_for_leaving_job_during_previous_year_,duration_of_joblessness,availability_during_the_reference_week,"unemployed,_used_public_employment_agency","unemployed,_checked_with_employers_directly","unemployed,_checked_with_friends_or_relatives","unemployed,_looked_at_job_ads","unemployed,_placed_or_answered_ads","unemployed,_other_methods",main_activity_before_started_looking_for_work,reason_for_not_looking_for_work_during_the_reference_week,"temporary_layoff,_looked_for_work_during_the_last_four_weeks",current_student_status,type_of_economic_family,age_of_youngest_child,standard_final_weight
25251,25252,2023,12,4,35,0,12,NaN,1,1,0,NaN,2.0,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN,171

In [27]:
df_desc = df.copy()

In [30]:
df_desc

,record_order,survey_year,survey_month,labour_force_status,province,nine_largest_cmas,five_year_age_group,age_group_15_29,sex,marital_status,highest_educational_attainment,single_or_multiple_jobholder,person_has_worked_in_last_year,full_or_part_time_last_job,class_of_worker_main_job,immigrant_status,industry_of_main_job,occupation_at_main_job_col1,occupation_at_main_job_col2,reason_of_absence_full_week,number_of_weeks_absent_from_work,paid_for_time_off_full_week_absence,usual_hours_worked_per_week_at_main_job,actual_hours_worked_per_week_at_main_job,full_or_part_time_main_job,usual_hours_worked_per_week_all_jobs,actual_hours_worked_per_week_all_jobs,hours_away_from_work_part_week_absence,reason_for_part_week_absence,paid_overtime_hours_in_reference_week,unpaid_overtime_hours_in_reference_week,number_of_overtime_or_extra_hours_worked,reason_for_part_time_work,job_tenure_months_current_employer,job_tenure_previous_employer,usual_hourly_wages,union_status,job_permanency,establishment_size,firm_size,duration_of_unemployment_weeks,flows_into_unemployment,job_seekers_by_type_of_work_sought_and_temporary_layoffs_by_work_status_of_last_job,reason_for_leaving_job_previous_year_col1,reason_for_leaving_job_previous_year_col2,duration_of_joblessness_months,availability_during_reference_week,"unemployed,_used_public_employment_agency","unemployed,_checked_with_employers_directly","unemployed,_checked_with_friends_or_relatives","unemployed,_looked_at_job_ads","unemployed,_placed_or_answered_ads","unemployed,_other_methods",main_activity_before_started_looking_for_work,reason_for_not_looking_for_work_during_the_reference_week,"temporary_layoff,_looked_for_work_during_the_last_four_weeks",current_student_status,type_of_economic_family,age_of_youngest_child,standard_final_weight
0,1,2023,12,4,12,0,12,NaN,1,5,3,NaN,2.0,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN,132
1,2,2023,12,4,12,0,3,5.0,2,6,6,NaN,2.0,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.0,1,NaN,102
2,3,2023,12,4,24,1,11,NaN,2,2,5,NaN,3.0,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,455
3,4,2023,12,1,10,0,2,3.0,1,6,2,1.0,NaN,NaN,2.0,3,10.0,7.0,33.0,NaN,NaN,NaN,400.0,400.0,1.0,400.0,400.0,0.0,NaN,0.0,0.0,0.0,NaN,27.0,NaN,2575.0,3.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,14,NaN,38
4,5,2023,12,1,35,0,7,NaN,2,6,4,1.0,NaN,NaN,1.0,2,16.0,5.0,20.0,NaN,NaN,NaN,400.0,400.0,1.0,400.0,400.0,0.0,NaN,0.0,0.0,0.0,NaN,155.0,NaN,5192.0,1.0,1.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,18,NaN,160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108019,108020,2023,12,2,35,0,6,NaN,2,1,5,1.0,NaN,NaN,1.0,3,16.0,5.0,20.0,2.0,74.0,2.0,400.0,0.0,1.0,400.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,170.0,NaN,3400.0,1.0,1.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3,1.0,192
108020,108021,2023,12,1,59,0,4,NaN,1,6,5,1.0,NaN,NaN,6.0,3,17.0,5.0,26.0,NaN,NaN,NaN,60.0,20.0,2.0,60.0,20.0,NaN,NaN,NaN,NaN,NaN,3.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,18,NaN,241
108021,108022,2023,12,1,11,0,7,NaN,1,2,4,1.0,NaN,NaN,2.0,3,11.0,8.0,38.0,NaN,NaN,NaN,400.0,500.0,1.0,400.0,500.0,0.0,NaN,100.0,0.0,100.0,NaN,137.0,NaN,3300.0,1.0,1.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5,NaN,15
108022,108023,2023,12,1,46,0,3,6.0,2,6,2,1.0,NaN,NaN,2.0,3,6.0,8.0,36.0,NaN,NaN,NaN,805.0,805.0,1.0,805.0,805.0,0.0,NaN,365.0,0.0,365.0,NaN,89.0,NaN,3400.0,3.0,1.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,18,NaN,106
108023,108024,2023,12,1,24,1,4,NaN,1,2,5,1.0,NaN,NaN,2.0,3,7.0,1.0,4.0,NaN,NaN,NaN,400.0,400.0,1.0,400.0,400.0,0.0,NaN,0.0,0.0,0.0,NaN,96.0,NaN,5000.0,3.0,1.0,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2,NaN,342

In [ ]:
cols_to_divide_by_ten = ['usual_hours_worked_per_week_at_main_job', 
                        'usual_hours_worked_per_week_at_all_jobs',
                        'actual_hours_worked_per_week_at_all_jobs',
                        'hours_away_from_work,_part-week_absence_only',
                        'number_of_overtime_or_extra_hours_worked',
                        'unpaid_overtime_hours_in_reference_week',
                        'paid_overtime_hours_in_reference_week']

numeric_cols = ['number_of_weeks_absent_from_work',  'usual_hours_worked_per_week_at_main_job',
 'actual_hours_worked_per_week_at_main_job', 'usual_hours_worked_per_week_all_jobs',
 'actual_hours_worked_per_week_all_jobs',
 'hours_away_from_work_part_week_absence',  'paid_overtime_hours_in_reference_week',
 'unpaid_overtime_hours_in_reference_week',
 'number_of_overtime_or_extra_hours_worked',
                'job_tenure_months_current_employer', 
 'job_tenure_previous_employer',
 'usual_hourly_wages', 
               'duration_of_unemployment_weeks',
                 'duration_of_joblessness_months',
                'standard_final_weight']

cols_1_or_nan = [ 'unemployed,_used_public_employment_agency',
 'unemployed,_checked_with_employers_directly',
 'unemployed,_checked_with_friends_or_relatives',
 'unemployed,_looked_at_job_ads', 
'unemployed,_placed_or_answered_ads',
 'unemployed,_other_methods']

In [21]:
col_map_dict = {'labour_force_status': {1:'Employed, at work', 2: 'Employed, absent from work', 
                         3: 'Unemployed', 4: 'Not in labour force'}, 
 'province':{10: 'Newfoundland and Labrador', 11: 'Prince Edward Island', 12: 'Nova Scotia', 13: 'New Brunswick', 
             24: 'Quebec', 35: 'Ontario', 46: 'Manitoba', 47: 'Saskatchewan', 48: 'Alberta', 59: 'British Columbia'}, 
 'nine_largest_cmas': {1: 'Québec', 2: 'Montréal', 3: 'Ottawa (Ontario part)', 4: 'Toronto', 5: 'Hamilton', 
                       6: 'Winnipeg', 7: 'Calgary', 8: 'Edmonton', 9: 'Vancouver', 0: 'Other CMA or non-CMA'},
 'five_year_age_group': {1: '15 to 19 years',2: '20 to 24 years',3: '25 to 29 years',
                    4: '30 to 34 years',5: '35 to 39 years',6: '40 to 44 years',7: '45 to 49 years', 8: '50 to 54 years', 
                    9: '55 to 59 years',10: '60 to 64 years',11: '65 to 69 years', 12: '70 and over'}, 
 'age_group_15_29': {1: '15 to 16 years', 2: '17 to 19 years',3: '20 to 21 years', 4: '22 to 24 years',
                     5: '25 to 26 years', 6: '27 to 29 years'}, 
 'sex': {1:'Male', 2:'Female'}, 
 'marital_status': {1: 'Married', 2: 'Living in common-law', 3: 'Widowed', 4: 'Separated', 5: 'Divorced', 
                    6: 'Single, never married'},
 'highest_educational_attainment': {0: '0 to 8 years', 1: 'Some high school', 2: 'High school graduate', 
    3: 'Some postsecondary', 4: 'Postsecondary certificate or diploma', 5: "Bachelor's degree", 6: "Above bachelor's degree"}, 
 'single_or_multiple_jobholder': {1.:'Single', 2.:'Multiple'},
 'person_has_worked_in_last_year': {1.: 'Yes, within last year', 2.: 'Yes, more than 1 year ago', 3.: 'No, never worked'}, 
 'full_or_part_time_last_job': {1.:'Full-time (30 hours or more)', 2.:'Part-time'},
 'class_of_worker_main_job': {1: 'Public sector employees', 2: 'Private sector employees', 
     3: 'Self-employed incorporated, with paid help', 4: 'Self-employed incorporated, no paid help',
     5: 'Self-employed unincorporated, with paid help', 6: 'Self-employed unincorporated, no paid help',
                              7: 'Unpaid family worker'},
 'immigrant_status': {1:'Immigrant, less than 10 years in Canada', 2:'Immigrant, more than 10 years in Canada', 
                      3:'Non-immigrant'}, 
 'industry_of_main_job': {1: 'Agriculture', 2: 'Forestry and logging and support activities for forestry',
        3: 'Fishing, hunting and trapping', 4: 'Mining, quarrying, and oil and gas extraction',5: 'Utilities', 
        6: 'Construction', 7: 'Manufacturing - durable goods',8: 'Manufacturing - non-durable goods',
        9: 'Wholesale trade', 10: 'Retail trade', 11: 'Transportation and warehousing', 12: 'Finance and insurance',
        13: 'Real estate and rental and leasing',14: 'Professional, scientific and technical services',
        15: 'Business, building and other support services', 16: 'Educational services',
        17: 'Health care and social assistance', 18: 'Information, culture and recreation',
        19: 'Accommodation and food services', 20: 'Other services (except public administration)', 
                          21: 'Public administration'},
 'occupation_at_main_job_col1': {1: 'Management occupations', 
        2: 'Business, finance and administration occupations, except management',
        3: 'Natural and applied sciences and related occupations, except management',
        4: 'Health occupations, except management',
        5: 'Occupations in education, law and social, community and government services, except management',
        6: 'Occupations in art, culture, recreation and sport, except management',
        7: 'Sales and service occupations, except management',
        8: 'Trades, transport and equipment operators and related occupations, except management',
        9: 'Natural resources, agriculture and related production occupations, except management',
       10: 'Occupations in manufacturing and utilities, except management'}, 
 'occupation_at_main_job_col2': {1: 'Legislative and senior management occupations',  
        2: 'Specialized middle management occupations', 
        3: 'Middle management occupations in retail and wholesale trade and customer services',
        4: 'Middle management occupations in trades, transportation, production and utilities',
        5: 'Professional occupations in finance', 6: 'Professional occupations in business',
        7: 'Administrative and financial supervisors and specialized administrative occupations',
        8: 'Administrative occupations and transportation logistics occupations',
        9: 'Administrative and financial support and supply chain logistics occupations',
        10: 'Professional occupations in natural sciences',
        11: 'Professional occupations in applied sciences (except engineering)',
        12: 'Professional occupations in engineering', 13: 'Technical occupations related to natural and applied sciences',
        14: 'Health treating and consultation services professionals',
        15: 'Therapy and assessment professionals', 16: 'Nursing and allied health professionals',
        17: 'Technical occupations in health', 18: 'Assisting occupations in support of health services',
        19: 'Professional occupations in law', 20: 'Professional occupations in education services',
        21: 'Professional occupations in social and community services', 22: 'Professional occupations in government services',
        23: 'Occupations in front-line public protection services',
        24: 'Paraprofessional occupations in legal, social, community and education services',
        25: 'Assisting occupations in education and in legal and public protection',
        26: 'Care providers and public protection support occupations and student monitors, crossing guards and related occupations',
        27: 'Professional occupations in art and culture', 28: 'Technical occupations in art, culture and sport',
        29: 'Occupations in art, culture and sport', 30: 'Support occupations in art, culture and sport',
        31: 'Retail sales and service supervisors and specialized occupations in sales and services',
        32: 'Occupations in sales and services', 
        33: 'Sales and service representatives and other customer and personal services occupations',
        34: 'Sales and service support occupations', 35: 'Technical trades and transportation officers and controllers',
        36: 'General trades', 
        37: 'Mail and message distribution, other transport equipment operators and related maintenance workers',
        38: 'Helpers and labourers and other transport drivers, operators and labourers',
        39: 'Supervisors and occupations in natural resources, agriculture and related production',
        40: 'Workers and labourers in natural resources, agriculture and related production',
        41: 'Supervisors, central control and process operators in processing, manufacturing and utilities and aircraft assemblers and inspectors',
        42: 'Machine operators, assemblers and inspectors in processing, manufacturing and printing',
        43: 'Labourers in processing, manufacturing and utilities'},
 'reason_of_absence_full_week': {0: 'Other reasons', 1: 'Own illness or disability', 
                                 2: 'Personal or family responsibilities', 3: 'Vacation'}, 
 'paid_for_time_off_full_week_absence': {1.:'Yes', 2.:'No'},
 'full_or_part_time_main_job': {1:'full_time', 2:'part_time'}, 
 'reason_for_part_week_absence': {0: 'Other reasons', 1: 'Own illness or disability', 
      2: 'Personal or family responsibilities', 3: 'Vacation or civic holiday', 4: 'Working short-time'},
 'reason_for_part_time_work': {0: 'Other reasons', 1: 'Own illness or disability', 2: 'Caring for children',
     3: 'Other personal or family responsibilities', 4: 'Going to school', 5: 'Personal preference',
     6: 'Business conditions or could not find full-time work, looked for full-time work in last month',
     7: 'Business conditions or could not find full-time work, did not look for full-time work in last month'},
 'union_status': {1: 'Union member', 2: 'Not a member but covered by a union contract or collective agreement',
         3: 'Non-unionized'}, 
 'job_permanency': {1: 'Permanent',2: 'Temporary, seasonal job',3: 'Temporary, term or contract job',
         4: 'Temporary, casual or other temporary jobs'},
 'establishment_size': {1: 'Less than 20 employees', 2: '20 to 99 employees', 3: '100 to 500 employees',
                 4: 'More than 500 employees'}, 
 'firm_size': {1: 'Less than 20 employees', 2: '20 to 99 employees', 3: '100 to 500 employees',
                 4: 'More than 500 employees'}, 
 'flows_into_unemployment': {1: 'Job losers, temporary layoff', 2: 'Job losers, permanent layoff', 3: 'Job leavers', 
        4: 'Job leavers/losers (status unknown), worked more than 1 year ago ', 5: 'New entrants', 
        6: 'Re-entrants, worked 1 year ago or less', 7: 'Re-entrants, worked more than 1 year ago', 8: 'Future starts'},
 'job_seekers_by_type_of_work_sought_and_temporary_layoffs_by_work_status_of_last_job': {1: 'Full-time', 
         2: 'Part-time', 3: 'Future starts'},
 'reason_for_leaving_job_previous_year_col1': {0: 'Job leavers, other reasons', 1: 'Job leavers, own illness or disability', 
        2: 'Job leavers, personal or family responsibilities', 3: 'Job leavers, going to school', 
        4: 'Job losers, laid off', 5: 'Job leavers, retired'},
 'reason_for_leaving_job_previous_year_col2': {0: 'Job leavers, other reasons', 1: 'Job leavers, own illness or disability', 
        2: 'Job leavers, caring for children', 3: 'Job leavers, pregnancy', 
        4: 'Job leavers, personal or family responsibilities', 5: 'Job leavers, going to school', 
        6: 'Job leavers, dissatisfied', 7: 'Job leavers, retired', 
        8: 'Job leavers, business sold or closed down (self-employed)', 9: 'Job losers, end of seasonal job (employee)', 
        10: 'Job losers, end of temporary or casual (employee)', 11: 'Job losers, company moved or out of business (employee)', 
        12: 'Job losers, business conditions (employee)', 13: 'Job losers, dismissal or other reasons'}, 
 'availability_during_reference_week': {1: 'Not available', 2: 'Yes, available'},
 'main_activity_before_started_looking_for_work': {0: 'Other', 1: 'Working', 2: 'Managing a home',  3: 'Going to school'},
 'reason_for_not_looking_for_work_during_the_reference_week': {0: 'Wanted work, reason - other',
     1: 'Wanted work, reason - own illness or disability', 2: 'Wanted work, reason - caring for children',
     3: 'Wanted work, reason - other personal or family responsibilities', 4: 'Wanted work, reason - school',
     5: 'Wanted work, reason - awaiting recall or reply', 6: 'Wanted work, reason - discouraged'},
 'temporary_layoff,_looked_for_work_during_the_last_four_weeks': {1:'Yes', 2:'No'},
 'current_student_status': {1: 'Non-student', 2: 'Full-time student', 3: 'Part-time student'}, 
 'type_of_economic_family': {1: 'Person not in an economic family', 2: 'Dual-earner couple, no children or none under 25',
        3: 'Dual-earner couple, youngest child 0 to 17', 4: 'Dual-earner couple, youngest child 18 to 24',
        5: 'Single-earner couple, male employed, no children or none under 25', 
        6: 'Single-earner couple, male employed, youngest child 0 to 17',
        7: 'Single-earner couple, male employed, youngest child 18 to 24',
        8: 'Single-earner couple, female employed, no children or none under 25',
        9: 'Single-earner couple, female employed, youngest child 0 to 17',
        10: 'Single-earner couple, female employed, youngest child 18 to 24',
        11: 'Non-earner couple, no children or none under 25', 12: 'Non-earner couple, youngest child 0 to 17',
        13: 'Non-earner couple, youngest child 18 to 24', 14: 'Lone-parent family, parent employed, youngest child 0 to 17',
        15: 'Lone-parent family, parent employed, youngest child 18 to 24', 
        16: 'Lone-parent family, parent not employed, youngest child 0 to 17',
        17: 'Lone-parent family, parent not employed, youngest child 18 to 24', 18: 'Other families'},
 'age_of_youngest_child': {1: 'Youngest child less than 6 years', 2: 'Youngest child 6 to 12 years',
             3: 'Youngest child 13 to 17 years', 4: 'Youngest child 18 to 24 years'}
}

In [23]:
cols_to_map = []
for pair in col_desc:
    cols_to_map.append(pair)

In [24]:
cols_to_map

[('rec_num', 'Order of record in file'),
 ('1-9999999', nan),
 ('survyear', 'Survey year'),
 ('1976-', nan),
 ('survmnth', 'Survey month'),
 ('01', 'January'),
 ('02', 'February'),
 ('03', 'March'),
 ('04', 'April'),
 ('05', 'May'),
 ('06', 'June'),
 ('07', 'July'),
 ('08', 'August'),
 ('09', 'September'),
 ('10', 'October'),
 ('11', 'November'),
 ('12', 'December'),
 (' lfsstat    ', 'Labour force status'),
 ('1', 'Employed, at work'),
 ('2', 'Employed, absent from work'),
 ('3', 'Unemployed'),
 ('4', 'Not in labour force'),
 ('prov', 'Province'),
 ('10', 'Newfoundland and Labrador'),
 ('11', 'Prince Edward Island'),
 ('12', 'Nova Scotia'),
 ('13', 'New Brunswick'),
 ('24', 'Quebec'),
 ('35', 'Ontario'),
 ('46', 'Manitoba'),
 ('47', 'Saskatchewan'),
 ('48', 'Alberta'),
 ('59', 'British Columbia'),
 ('cma', 'Nine largest CMAs'),
 ('1', 'Québec'),
 ('2', 'Montréal'),
 ('3', 'Ottawa\x96Gatineau (Ontario part)'),
 ('4', 'Toronto'),
 ('5', 'Hamilton'),
 ('6', 'Winnipeg'),
 ('7', 'Calgary'),
 ('8', 'Edmonton'),
 ('9', 'Vancouver'),
 ('0', 'Other CMA or non-CMA'),
 ('age_12', 'Five-year age group of respondent'),
 ('01', '15 to 19 years'),
 ('02', '20 to 24 years'),
 ('03', '25 to 29 years'),
 ('04', '30 to 34 years'),
 ('05', '35 to 39 years'),
 ('06', '40 to 44 years'),
 ('07', '45 to 49 years'),
 ('08', '50 to 54 years'),
 ('09', '55 to 59 years'),
 ('10', '60 to 64 years'),
 ('11', '65 to 69 years'),
 ('12', '70 and over'),
 ('age_6    ', 'Age in 2 and 3 year groups, 15 to 29'),
 ('1', '15 to 16 years'),
 ('2', '17 to 19 years'),
 ('3', '20 to 21 years'),
 ('4', '22 to 24 years'),
 ('5', '25 to 26 years'),
 ('6', '27 to 29 years'),
 ('blank', 'Not applicable'),
 ('sex', 'Sex of respondent'),
 ('1', 'Male'),
 ('2', 'Female'),
 ('marstat', 'Marital status of respondent'),
 ('1', 'Married'),
 ('2', 'Living in common-law'),
 ('3', 'Widowed'),
 ('4', 'Separated'),
 ('5', 'Divorced'),
 ('6', 'Single, never married'),
 ('educ', 'Highest educational attainment'),
 ('0', '0 to 8 years'),
 ('1', 'Some high school'),
 ('2', 'High school graduate'),
 ('3', 'Some postsecondary'),
 ('4', 'Postsecondary certificate or diploma'),
 ('5', "Bachelor's degree"),
 ('6', "Above bachelor's degree"),
 ('mjh', 'Single or multiple jobholder'),
 ('1', 'Single jobholder, including job changers'),
 ('2', 'Multiple jobholder'),
 ('blank', 'Not applicable'),
 ('everwork', 'Identifies if a person has worked in the last year'),
 ('1', 'Yes, within last year'),
 ('2', 'Yes, more than 1 year ago'),
 ('3', 'No, never worked'),
 ('blank', 'Not applicable'),
 ('ftptlast', 'Full- or part-time status of last job'),
 ('1', 'Full-time (30 hours or more)'),
 ('2', 'Part-time (1 to 29 hours)'),
 ('blank', 'Not applicable'),
 ('cowmain', 'Class of worker, main job'),
 ('1', 'Public sector employees'),
 ('2', 'Private sector employees'),
 ('3', 'Self-employed incorporated, with paid help'),
 ('4', 'Self-employed incorporated, no paid help'),
 ('5', 'Self-employed unincorporated, with paid help'),
 ('6', 'Self-employed unincorporated, no paid help'),
 ('7', 'Unpaid family worker'),
 ('blank', 'Not applicable'),
 ('immig', 'Immigrant status'),
 ('1', 'Immigrant, landed 10 or less years earlier'),
 ('2', 'Immigrant, landed more than 10 years earlier'),
 ('3', 'Non-immigrant'),
 ('naics_21', 'Industry of main job'),
 ('01', 'Agriculture'),
 ('02', 'Forestry and logging and support activities for forestry'),
 ('03', 'Fishing, hunting and trapping'),
 ('04', 'Mining, quarrying, and oil and gas extraction'),
 ('05', 'Utilities'),
 ('06', 'Construction'),
 ('07', 'Manufacturing - durable goods'),
 ('08', 'Manufacturing - non-durable goods'),
 ('09', 'Wholesale trade'),
 ('10', 'Retail trade'),
 ('11', 'Transportation and warehousing'),
 ('12', 'Finance and insurance'),
 ('13', 'Real estate and rental and leasing'),
 ('14', 'Professional, scientific and technical services'),
 ('15', 'Business, building and other support services'),
 ('16', 'Educational services'),
 ('17', 'Health care and social assistance'),
 ('18', 'Information, culture and recreation'),
 ('19', 'Accommodation and food services'),
 ('20', 'Other services (except public administration)'),
 ('21', 'Public administration'),
 ('blank', 'Not applicable'),
 ('noc_10    ', 'Occupation at main job'),
 ('01', 'Management occupations'),
 ('02', 'Business, finance and administration occupations, except management'),
 ('03',
  'Natural and applied sciences and related occupations, except management'),
 ('04', 'Health occupations, except management'),
 ('05',
  'Occupations in education, law and social, community and government services, except management'),
 ('06',
  'Occupations in art, culture, recreation and sport, except management'),
 ('07', 'Sales and service occupations, except management'),
 ('08',
  'Trades, transport and equipment operators and related occupations, except management'),
 ('09',
  'Natural resources, agriculture and related production occupations, except management'),
 ('10', 'Occupations in manufacturing and utilities, except management'),
 ('blank', 'Not applicable'),
 ('noc_43', 'Occupation at main job'),
 ('01', 'Legislative and senior management occupations'),
 ('02', 'Specialized middle management occupations'),
 ('03',
  'Middle management occupations in retail and wholesale trade and customer services'),
 ('04',
  'Middle management occupations in trades, transportation, production and utilities'),
 ('05', 'Professional occupations in finance'),
 ('06', 'Professional occupations in business'),
 ('07',
  'Administrative and financial supervisors and specialized administrative occupations'),
 ('08', 'Administrative occupations and transportation logistics occupations'),
 ('09',
  'Administrative and financial support and supply chain logistics occupations'),
 ('10', 'Professional occupations in natural sciences'),
 ('11', 'Professional occupations in applied sciences (except engineering)'),
 ('12', 'Professional occupations in engineering'),
 ('13', 'Technical occupations related to natural and applied sciences'),
 ('14', 'Health treating and consultation services professionals'),
 ('15', 'Therapy and assessment professionals'),
 ('16', 'Nursing and allied health professionals'),
 ('17', 'Technical occupations in health'),
 ('18', 'Assisting occupations in support of health services'),
 ('19', 'Professional occupations in law'),
 ('20', 'Professional occupations in education services'),
 ('21', 'Professional occupations in social and community services'),
 ('22', 'Professional occupations in government services'),
 ('23', 'Occupations in front-line public protection services'),
 ('24',
  'Paraprofessional occupations in legal, social, community and education services'),
 ('25',
  'Assisting occupations in education and in legal and public protection'),
 ('26',
  'Care providers and public protection support occupations and student monitors, crossing guards and related occupations'),
 ('27', 'Professional occupations in art and culture'),
 ('28', 'Technical occupations in art, culture and sport'),
 ('29', 'Occupations in art, culture and sport'),
 ('30', 'Support occupations in art, culture and sport'),
 ('31',
  'Retail sales and service supervisors and specialized occupations in sales and services'),
 ('32', 'Occupations in sales and services'),
 ('33',
  'Sales and service representatives and other customer and personal services occupations'),
 ('34', 'Sales and service support occupations'),
 ('35', 'Technical trades and transportation officers and controllers'),
 ('36', 'General trades'),
 ('37',
  'Mail and message distribution, other transport equipment operators and related maintenance workers'),
 ('38',
  'Helpers and labourers and other transport drivers, operators and labourers'),
 ('39',
  'Supervisors and occupations in natural resources, agriculture and related production'),
 ('40',
  'Workers and labourers in natural resources, agriculture and related production'),
 ('41',
  'Supervisors, central control and process operators in processing, manufacturing and utilities and aircraft assemblers and inspectors'),
 ('42',
  'Machine operators, assemblers and inspectors in processing, manufacturing and printing'),
 ('43', 'Labourers in processing, manufacturing and utilities'),
 ('blank', 'Not applicable'),
 ('yabsent', 'Reason of absence, full week'),
 ('0', 'Other reasons'),
 ('1', 'Own illness or disability'),
 ('2', 'Personal or family responsibilities'),
 ('3', 'Vacation'),
 ('blank', 'Not applicable'),
 ('wksaway', 'Number of weeks absent from work'),
 ('Jan-99', 'Weeks'),
 ('blank', 'Not applicable'),
 ('payaway', 'Paid for time off, full-week absence only'),
 ('1', 'Yes'),
 ('2', 'No'),
 ('blank', 'Not applicable'),
 ('uhrsmain', 'Usual hours worked per week at main job'),
 ('001-990', 'Hours'),
 ('blank', 'Not applicable'),
 ('ahrsmain', 'Actual hours worked per week at main job'),
 ('000-990', 'Hours'),
 ('blank', 'Not applicable'),
 ('ftptmain', 'Full- or part-time status at main or only job'),
 ('1', 'Full-time'),
 ('2', 'Part-time'),
 ('blank', 'Not applicable'),
 ('utothrs', 'Usual hours worked per week at all jobs'),
 ('001-990', 'Hours'),
 ('blank', 'Not applicable'),
 ('atothrs', 'Actual hours worked per week at all jobs'),
 ('000-990', 'Hours'),
 ('blank', 'Not applicable'),
 ('hrsaway', 'Hours away from work, part-week absence only'),
 ('000-990', 'Hours'),
 ('blank', 'Not applicable'),
 ('yaway', 'Reason for part-week absence'),
 ('0', 'Other reasons'),
 ('1', 'Own illness or disability'),
 ('2', 'Personal or family responsibilities'),
 ('3', 'Vacation or civic holiday'),
 ('4', 'Working short-time'),
 ('blank', 'Not applicable'),
 ('paidot', 'Paid overtime hours in reference week'),
 ('000-990', 'Hours'),
 ('blank', 'Not applicable'),
 ('unpaidot', 'Unpaid overtime hours in reference week'),
 ('000-990', 'Hours'),
 ('blank', 'Not applicable'),
 ('xtrahrs', 'Number of overtime or extra hours worked'),
 ('000-990', 'Hours'),
 ('blank', 'Not applicable'),
 ('whypt', 'Reason for part-time work'),
 ('0', 'Other reasons'),
 ('1', 'Own illness or disability'),
 ('2', 'Caring for children'),
 ('3', 'Other personal or family responsibilities'),
 ('4', 'Going to school'),
 ('5', 'Personal preference'),
 ('6',
  'Business conditions or could not find full-time work, looked for full-time work in last month'),
 ('7',
  'Business conditions or could not find full-time work, did not look for full-time work in last month'),
 ('blank', 'Not applicable'),
 ('tenure', 'Job tenure with current employer'),
 ('001-240', 'Months'),
 ('blank', 'Not applicable'),
 ('prevten', 'Job tenure with previous employer'),
 ('001-240', 'Months'),
 ('blank', 'Not applicable'),
 ('hrlyearn', 'Usual hourly wages'),
 ('000001-999999', 'Current dollars'),
 ('blank', 'Not applicable'),
 ('union', 'Union status'),
 ('1', 'Union member'),
 ('2', 'Not a member but covered by a union contract or collective agreement'),
 ('3', 'Non-unionized'),
 ('blank', 'Not applicable'),
 ('permtemp', 'Job permanency'),
 ('1', 'Permanent'),
 ('2', 'Temporary, seasonal job'),
 ('3', 'Temporary, term or contract job'),
 ('4', 'Temporary, casual or other temporary jobs'),
 ('blank', 'Not applicable'),
 ('estsize', 'Establishment size'),
 ('1', 'Less than 20 employees'),
 ('2', '20 to 99 employees'),
 ('3', '100 to 500 employees'),
 ('4', 'More than 500 employees'),
 ('blank', 'Not applicable'),
 ('firmsize', 'Firm size'),
 ('1', 'Less than 20 employees'),
 ('2', '20 to 99 employees'),
 ('3', '100 to 500 employees'),
 ('4', 'More than 500 employees'),
 ('blank', 'Not applicable'),
 ('durunemp', 'Duration of unemployment'),
 ('01-99', 'Weeks'),
 ('blank', 'Not applicable'),
 ('flowunem', 'Flows into unemployment'),
 ('1', 'Job losers, temporary layoff'),
 ('2', 'Job losers, permanent layoff'),
 ('3', 'Job leavers'),
 ('4', 'Job leavers/losers (status unknown), worked more than 1 year ago '),
 ('5', 'New entrants'),
 ('6', 'Re-entrants, worked 1 year ago or less'),
 ('7', 'Re-entrants, worked more than 1 year ago'),
 ('8', 'Future starts'),
 ('blank', 'Not applicable'),
 ('unemftpt',
  'Job seekers by type of work sought and temporary layoffs by work status of last job'),
 ('1', 'Full-time'),
 ('2', 'Part-time'),
 ('3', 'Future starts'),
 ('blank', 'Not applicable'),
 ('whylefto', 'Reason for leaving job during previous year '),
 ('0', 'Job leavers, other reasons'),
 ('1', 'Job leavers, own illness or disability'),
 ('2', 'Job leavers, personal or family responsibilities'),
 ('3', 'Job leavers, going to school'),
 ('4', 'Job losers, laid off'),
 ('5', 'Job leavers, retired'),
 ('blank', 'Not applicable'),
 ('whyleftn', 'Reason for leaving job during previous year '),
 ('00', 'Job leavers, other reasons'),
 ('01', 'Job leavers, own illness or disability'),
 ('02', 'Job leavers, caring for children'),
 ('03', 'Job leavers, pregnancy'),
 ('04', 'Job leavers, personal or family responsibilities'),
 ('05', 'Job leavers, going to school'),
 ('06', 'Job leavers, dissatisfied'),
 ('07', 'Job leavers, retired'),
 ('08', 'Job leavers, business sold or closed down (self-employed)'),
 ('09', 'Job losers, end of seasonal job (employee)'),
 ('10', 'Job losers, end of temporary or casual (employee)'),
 ('11', 'Job losers, company moved or out of business (employee)'),
 ('12', 'Job losers, business conditions (employee)'),
 ('13', 'Job losers, dismissal or other reasons'),
 ('blank', 'Not applicable'),
 ('durjless', 'Duration of joblessness'),
 ('001-240', 'Months'),
 ('blank', 'Not applicable'),
 ('availabl', 'Availability during the reference week'),
 ('1', 'Not available'),
 ('2', 'Yes, available'),
 ('blank', 'Not applicable'),
 ('lkpubag', 'Unemployed, used public employment agency'),
 ('1', 'Yes'),
 ('blank', 'Not applicable'),
 ('lkemploy', 'Unemployed, checked with employers directly'),
 ('1', 'Yes'),
 ('blank', 'Not applicable'),
 ('lkrels', 'Unemployed, checked with friends or relatives'),
 ('1', 'Yes'),
 ('blank', 'Not applicable'),
 ('lkatads', 'Unemployed, looked at job ads'),
 ('1', 'Yes'),
 ('blank', 'Not applicable'),
 ('lkansads', 'Unemployed, placed or answered ads'),
 ('1', 'Yes'),
 ('blank', 'Not applicable'),
 ('lkothern ', 'Unemployed, other methods'),
 ('1', 'Yes'),
 ('blank', 'Not applicable'),
 ('prioract', 'Main activity before started looking for work'),
 ('0', 'Other'),
 ('1', 'Working'),
 ('2', 'Managing a home'),
 ('3', 'Going to school'),
 ('blank', 'Not applicable'),
 ('ynolook', 'Reason for not looking for work during the reference week'),
 ('0', 'Wanted work, reason - other'),
 ('1', 'Wanted work, reason - own illness or disability'),
 ('2', 'Wanted work, reason - caring for children'),
 ('3', 'Wanted work, reason - other personal or family responsibilities'),
 ('4', 'Wanted work, reason - school'),
 ('5', 'Wanted work, reason - awaiting recall or reply'),
 ('6', 'Wanted work, reason - discouraged'),
 ('blank', 'Not applicable'),
 ('tlolook', 'Temporary layoff, looked for work during the last four weeks'),
 ('1', 'Yes'),
 ('2', 'No'),
 ('blank', 'Not applicable'),
 ('schooln', 'Current student status'),
 ('1', 'Non-student'),
 ('2', 'Full-time student'),
 ('3', 'Part-time student'),
 ('blank', 'Not applicable'),
 ('efamtype', 'Type of economic family'),
 ('01', 'Person not in an economic family'),
 ('02', 'Dual-earner couple, no children or none under 25'),
 ('03', 'Dual-earner couple, youngest child 0 to 17'),
 ('04', 'Dual-earner couple, youngest child 18 to 24'),
 ('05', 'Single-earner couple, male employed, no children or none under 25'),
 ('06', 'Single-earner couple, male employed, youngest child 0 to 17'),
 ('07', 'Single-earner couple, male employed, youngest child 18 to 24'),
 ('08', 'Single-earner couple, female employed, no children or none under 25'),
 ('09', 'Single-earner couple, female employed, youngest child 0 to 17'),
 ('10', 'Single-earner couple, female employed, youngest child 18 to 24'),
 ('11', 'Non-earner couple, no children or none under 25'),
 ('12', 'Non-earner couple, youngest child 0 to 17'),
 ('13', 'Non-earner couple, youngest child 18 to 24'),
 ('14', 'Lone-parent family, parent employed, youngest child 0 to 17'),
 ('15', 'Lone-parent family, parent employed, youngest child 18 to 24'),
 ('16', 'Lone-parent family, parent not employed, youngest child 0 to 17'),
 ('17', 'Lone-parent family, parent not employed, youngest child 18 to 24'),
 ('18', 'Other families'),
 ('agyownk', 'Age of youngest child'),
 ('1', 'Youngest child less than 6 years'),
 ('2', 'Youngest child 6 to 12 years'),
 ('3', 'Youngest child 13 to 17 years'),
 ('4', 'Youngest child 18 to 24 years'),
 ('blank', 'Not applicable'),
 ('finalwt', 'Standard final weight'),
 ('1-99999', nan)]

In [33]:
# There is something wrong here. I doubt the average work hours per week is 400. Maybe we should divide by ten.
round(df_desc['usual_hours_worked_per_week_at_main_job'].mean()), df_desc['usual_hours_worked_per_week_at_main_job'].median(), df_desc['usual_hours_worked_per_week_at_main_job'].min(), df_desc['usual_hours_worked_per_week_at_main_job'].max()
df_desc['hours_away_from_work_part_week_absence'].replace(0, np.NaN).median(), df_desc['hours_away_from_work_part_week_absence'].replace(0, np.NaN).mean()
df_desc['hours_away_from_work_part_week_absence'].replace(0, np.NaN).median(), df_desc['hours_away_from_work_part_week_absence'].replace(0, np.NaN).mean()
round(df_desc['actual_hours_worked_per_week_at_all_jobs'].mean()), df_desc['actual_hours_worked_per_week_at_all_jobs'].median(), df_desc['actual_hours_worked_per_week_at_all_jobs'].max()
df_desc['hours_away_from_work_part_week_absence'].max(), df_desc['hours_away_from_work_part_week_absence'].mean(), df_desc['hours_away_from_work_part_week_absence'].median()

KeyError: 'actual_hours_worked_per_week_at_all_jobs'

Survey Questions related to wages?

EAR_Q205 / EQ 57 – What is your weekly wage or salary, before taxes and other deductions?

EAR_Q206 / EQ 58 – What is your bi-weekly wage or salary, before taxes and other deductions?

EAR_Q207 / EQ 59 – What is your semi-monthly wage or salary, before taxes and other deductions?

EAR_Q208 / EQ 60 – What is your monthly wage or salary, before taxes and other deductions?

EAR_Q209 / EQ 61 – What is your yearly wage or salary, before taxes and other deductions?

In [34]:
# These hourly wages seem very high. Maybe they are weekly or monthly wages? Look into this. 
df_desc['usual_hourly_wages'].mean(), df_desc['usual_hourly_wages'].median(), df_desc['usual_hourly_wages'].max()

(3393.8444295569357, 2900.0, 20337.0)

In [35]:
# Probably answer to this question: ABS_Q162 / EQ 40 – 
# How many weeks had you been continuously absent from work, up to and including [refer to collection period]?

df_desc['number_of_weeks_absent_from_work'].mean(), df_desc['number_of_weeks_absent_from_work'].median(), df_desc['number_of_weeks_absent_from_work'].max()

(15.537783375314861, 4.0, 99.0)

In [36]:
df_desc[df_desc['number_of_weeks_absent_from_work']==99.0]

,record_order,survey_year,survey_month,labour_force_status,province,nine_largest_cmas,five_year_age_group,age_group_15_29,sex,marital_status,highest_educational_attainment,single_or_multiple_jobholder,person_has_worked_in_last_year,full_or_part_time_last_job,class_of_worker_main_job,immigrant_status,industry_of_main_job,occupation_at_main_job_col1,occupation_at_main_job_col2,reason_of_absence_full_week,number_of_weeks_absent_from_work,paid_for_time_off_full_week_absence,usual_hours_worked_per_week_at_main_job,actual_hours_worked_per_week_at_main_job,full_or_part_time_main_job,usual_hours_worked_per_week_all_jobs,actual_hours_worked_per_week_all_jobs,hours_away_from_work_part_week_absence,reason_for_part_week_absence,paid_overtime_hours_in_reference_week,unpaid_overtime_hours_in_reference_week,number_of_overtime_or_extra_hours_worked,reason_for_part_time_work,job_tenure_months_current_employer,job_tenure_previous_employer,usual_hourly_wages,union_status,job_permanency,establishment_size,firm_size,duration_of_unemployment_weeks,flows_into_unemployment,job_seekers_by_type_of_work_sought_and_temporary_layoffs_by_work_status_of_last_job,reason_for_leaving_job_previous_year_col1,reason_for_leaving_job_previous_year_col2,duration_of_joblessness_months,availability_during_reference_week,"unemployed,_used_public_employment_agency","unemployed,_checked_with_employers_directly","unemployed,_checked_with_friends_or_relatives","unemployed,_looked_at_job_ads","unemployed,_placed_or_answered_ads","unemployed,_other_methods",main_activity_before_started_looking_for_work,reason_for_not_looking_for_work_during_the_reference_week,"temporary_layoff,_looked_for_work_during_the_last_four_weeks",current_student_status,type_of_economic_family,age_of_youngest_child,standard_final_weight
1028,1029,2023,12,2,47,0,11,NaN,1,1,2,1.0,NaN,NaN,2.0,3,15.0,7.0,33.0,1.0,99.0,2.0,450.0,0.0,1.0,450.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,50.0,NaN,1500.0,3.0,1.0,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,133
1062,1063,2023,12,2,35,0,8,NaN,2,5,4,1.0,NaN,NaN,1.0,3,21.0,2.0,9.0,1.0,99.0,2.0,400.0,0.0,1.0,400.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,240.0,NaN,4200.0,1.0,3.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,15,4.0,317
1694,1695,2023,12,2,46,0,9,NaN,2,1,2,1.0,NaN,NaN,2.0,3,12.0,7.0,33.0,1.0,99.0,2.0,400.0,0.0,1.0,400.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,240.0,NaN,1700.0,3.0,1.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4,4.0,125
4211,4212,2023,12,2,10,0,9,NaN,1,1,4,1.0,NaN,NaN,1.0,3,16.0,8.0,35.0,1.0,99.0,2.0,400.0,0.0,1.0,400.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,104.0,NaN,3500.0,1.0,1.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2,NaN,83
7098,7099,2023,12,2,35,0,10,NaN,1,1,4,1.0,NaN,NaN,2.0,3,7.0,3.0,13.0,1.0,99.0,1.0,400.0,0.0,1.0,400.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,240.0,NaN,3846.0,3.0,1.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5,NaN,441
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106305,106306,2023,12,2,48,8,8,NaN,2,1,4,1.0,NaN,NaN,1.0,3,17.0,4.0,16.0,1.0,99.0,2.0,525.0,0.0,1.0,525.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,240.0,NaN,4934.0,1.0,1.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4,4.0,521
106503,106504,2023,12,2,24,0,10,NaN,2,6,2,1.0,NaN,NaN,2.0,3,18.0,7.0,33.0,1.0,99.0,2.0,350.0,0.0,1.0,350.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,240.0,NaN,2967.0,1.0,1.0,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,NaN,208
106628,106629,2023,12,2,35,4,9,NaN,2,1,4,1.0,NaN,NaN,2.0,3,12.0,2.0,7.0,1.0,99.0,2.0,120.0,0.0,2.0,120.0,0.0,NaN,NaN,NaN,NaN,NaN,5.0,214.0,NaN,6571.0,3.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,18,NaN,554
107315,107316,2023,12,2,35,4,8,NaN,2,5,4,1.0,NaN,NaN,2.0,3,11.0,7.0,33.0,1.0,99.0,2.0,400.0,0.0,1.0,400.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,240.0,NaN,2800.0,1.0,1.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,14,3.0,195
107659,107660,2023,12,2,12,0,10,NaN,2,1,5,1.0,NaN,NaN,1.0,3,17.0,4.0,16.0,1.0,99.0,1.0,480.0,0.0,1.0,480.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,240.0,NaN,3005.0,1.0,1.0,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4,4.0,233

In [37]:
col_map_dict

{'labour_force_status': {1: 'Employed, at work',
  2: 'Employed, absent from work',
  3: 'Unemployed',
  4: 'Not in labour force'},
 'province': {10: 'Newfoundland and Labrador',
  11: 'Prince Edward Island',
  12: 'Nova Scotia',
  13: 'New Brunswick',
  24: 'Quebec',
  35: 'Ontario',
  46: 'Manitoba',
  47: 'Saskatchewan',
  48: 'Alberta',
  59: 'British Columbia'},
 'nine_largest_cmas': {1: 'Québec',
  2: 'Montréal',
  3: 'Ottawa (Ontario part)',
  4: 'Toronto',
  5: 'Hamilton',
  6: 'Winnipeg',
  7: 'Calgary',
  8: 'Edmonton',
  9: 'Vancouver',
  0: 'Other CMA or non-CMA'},
 'five_year_age_group': {1: '15 to 19 years',
  2: '20 to 24 years',
  3: '25 to 29 years',
  4: '30 to 34 years',
  5: '35 to 39 years',
  6: '40 to 44 years',
  7: '45 to 49 years',
  8: '50 to 54 years',
  9: '55 to 59 years',
  10: '60 to 64 years',
  11: '65 to 69 years',
  12: '70 and over'},
 'age_group_15_29': {1: '15 to 16 years',
  2: '17 to 19 years',
  3: '20 to 21 years',
  4: '22 to 24 years',
  5: '25 to 26 years',
  6: '27 to 29 years'},
 'sex': {1: 'Male', 2: 'Female'},
 'marital_status': {1: 'Married',
  2: 'Living in common-law',
  3: 'Widowed',
  4: 'Separated',
  5: 'Divorced',
  6: 'Single, never married'},
 'highest_educational_attainment': {0: '0 to 8 years',
  1: 'Some high school',
  2: 'High school graduate',
  3: 'Some postsecondary',
  4: 'Postsecondary certificate or diploma',
  5: "Bachelor's degree",
  6: "Above bachelor's degree"},
 'single_or_multiple_jobholder': {1.0: 'Single', 2.0: 'Multiple'},
 'person_has_worked_in_last_year': {1.0: 'Yes, within last year',
  2.0: 'Yes, more than 1 year ago',
  3.0: 'No, never worked'},
 'full_or_part_time_last_job': {1.0: 'Full-time (30 hours or more)',
  2.0: 'Part-time'},
 'class_of_worker_main_job': {1: 'Public sector employees',
  2: 'Private sector employees',
  3: 'Self-employed incorporated, with paid help',
  4: 'Self-employed incorporated, no paid help',
  5: 'Self-employed unincorporated, with paid help',
  6: 'Self-employed unincorporated, no paid help',
  7: 'Unpaid family worker'},
 'immigrant_status': {1: 'Immigrant, less than 10 years in Canada',
  2: 'Immigrant, more than 10 years in Canada',
  3: 'Non-immigrant'},
 'industry_of_main_job': {1: 'Agriculture',
  2: 'Forestry and logging and support activities for forestry',
  3: 'Fishing, hunting and trapping',
  4: 'Mining, quarrying, and oil and gas extraction',
  5: 'Utilities',
  6: 'Construction',
  7: 'Manufacturing - durable goods',
  8: 'Manufacturing - non-durable goods',
  9: 'Wholesale trade',
  10: 'Retail trade',
  11: 'Transportation and warehousing',
  12: 'Finance and insurance',
  13: 'Real estate and rental and leasing',
  14: 'Professional, scientific and technical services',
  15: 'Business, building and other support services',
  16: 'Educational services',
  17: 'Health care and social assistance',
  18: 'Information, culture and recreation',
  19: 'Accommodation and food services',
  20: 'Other services (except public administration)',
  21: 'Public administration'},
 'occupation_at_main_job_col1': {1: 'Management occupations',
  2: 'Business, finance and administration occupations, except management',
  3: 'Natural and applied sciences and related occupations, except management',
  4: 'Health occupations, except management',
  5: 'Occupations in education, law and social, community and government services, except management',
  6: 'Occupations in art, culture, recreation and sport, except management',
  7: 'Sales and service occupations, except management',
  8: 'Trades, transport and equipment operators and related occupations, except management',
  9: 'Natural resources, agriculture and related production occupations, except management',
  10: 'Occupations in manufacturing and utilities, except management'},
 'occupation_at_main_job_col2': {1: 'Legislative and senior management occupations',
  2: 'Specialized middle management occupations',
  3: 'Middle management occupations in retail and wholesale trade and customer services',
  4: 'Middle management occupations in trades, transportation, production and utilities',
  5: 'Professional occupations in finance',
  6: 'Professional occupations in business',
  7: 'Administrative and financial supervisors and specialized administrative occupations',
  8: 'Administrative occupations and transportation logistics occupations',
  9: 'Administrative and financial support and supply chain logistics occupations',
  10: 'Professional occupations in natural sciences',
  11: 'Professional occupations in applied sciences (except engineering)',
  12: 'Professional occupations in engineering',
  13: 'Technical occupations related to natural and applied sciences',
  14: 'Health treating and consultation services professionals',
  15: 'Therapy and assessment professionals',
  16: 'Nursing and allied health professionals',
  17: 'Technical occupations in health',
  18: 'Assisting occupations in support of health services',
  19: 'Professional occupations in law',
  20: 'Professional occupations in education services',
  21: 'Professional occupations in social and community services',
  22: 'Professional occupations in government services',
  23: 'Occupations in front-line public protection services',
  24: 'Paraprofessional occupations in legal, social, community and education services',
  25: 'Assisting occupations in education and in legal and public protection',
  26: 'Care providers and public protection support occupations and student monitors, crossing guards and related occupations',
  27: 'Professional occupations in art and culture',
  28: 'Technical occupations in art, culture and sport',
  29: 'Occupations in art, culture and sport',
  30: 'Support occupations in art, culture and sport',
  31: 'Retail sales and service supervisors and specialized occupations in sales and services',
  32: 'Occupations in sales and services',
  33: 'Sales and service representatives and other customer and personal services occupations',
  34: 'Sales and service support occupations',
  35: 'Technical trades and transportation officers and controllers',
  36: 'General trades',
  37: 'Mail and message distribution, other transport equipment operators and related maintenance workers',
  38: 'Helpers and labourers and other transport drivers, operators and labourers',
  39: 'Supervisors and occupations in natural resources, agriculture and related production',
  40: 'Workers and labourers in natural resources, agriculture and related production',
  41: 'Supervisors, central control and process operators in processing, manufacturing and utilities and aircraft assemblers and inspectors',
  42: 'Machine operators, assemblers and inspectors in processing, manufacturing and printing',
  43: 'Labourers in processing, manufacturing and utilities'},
 'reason_of_absence_full_week': {0: 'Other reasons',
  1: 'Own illness or disability',
  2: 'Personal or family responsibilities',
  3: 'Vacation'},
 'paid_for_time_off_full_week_absence': {1.0: 'Yes', 2.0: 'No'},
 'full_or_part_time_main_job': {1: 'full_time', 2: 'part_time'},
 'reason_for_part_week_absence': {0: 'Other reasons',
  1: 'Own illness or disability',
  2: 'Personal or family responsibilities',
  3: 'Vacation or civic holiday',
  4: 'Working short-time'},
 'reason_for_part_time_work': {0: 'Other reasons',
  1: 'Own illness or disability',
  2: 'Caring for children',
  3: 'Other personal or family responsibilities',
  4: 'Going to school',
  5: 'Personal preference',
  6: 'Business conditions or could not find full-time work, looked for full-time work in last month',
  7: 'Business conditions or could not find full-time work, did not look for full-time work in last month'},
 'union_status': {1: 'Union member',
  2: 'Not a member but covered by a union contract or collective agreement',
  3: 'Non-unionized'},
 'job_permanency': {1: 'Permanent',
  2: 'Temporary, seasonal job',
  3: 'Temporary, term or contract job',
  4: 'Temporary, casual or other temporary jobs'},
 'establishment_size': {1: 'Less than 20 employees',
  2: '20 to 99 employees',
  3: '100 to 500 employees',
  4: 'More than 500 employees'},
 'firm_size': {1: 'Less than 20 employees',
  2: '20 to 99 employees',
  3: '100 to 500 employees',
  4: 'More than 500 employees'},
 'flows_into_unemployment': {1: 'Job losers, temporary layoff',
  2: 'Job losers, permanent layoff',
  3: 'Job leavers',
  4: 'Job leavers/losers (status unknown), worked more than 1 year ago ',
  5: 'New entrants',
  6: 'Re-entrants, worked 1 year ago or less',
  7: 'Re-entrants, worked more than 1 year ago',
  8: 'Future starts'},
 'job_seekers_by_type_of_work_sought_and_temporary_layoffs_by_work_status_of_last_job': {1: 'Full-time',
  2: 'Part-time',
  3: 'Future starts'},
 'reason_for_leaving_job_previous_year_col1': {0: 'Job leavers, other reasons',
  1: 'Job leavers, own illness or disability',
  2: 'Job leavers, personal or family responsibilities',
  3: 'Job leavers, going to school',
  4: 'Job losers, laid off',
  5: 'Job leavers, retired'},
 'reason_for_leaving_job_previous_year_col2': {0: 'Job leavers, other reasons',
  1: 'Job leavers, own illness or disability',
  2: 'Job leavers, caring for children',
  3: 'Job leavers, pregnancy',
  4: 'Job leavers, personal or family responsibilities',
  5: 'Job leavers, going to school',
  6: 'Job leavers, dissatisfied',
  7: 'Job leavers, retired',
  8: 'Job leavers, business sold or closed down (self-employed)',
  9: 'Job losers, end of seasonal job (employee)',
  10: 'Job losers, end of temporary or casual (employee)',
  11: 'Job losers, company moved or out of business (employee)',
  12: 'Job losers, business conditions (employee)',
  13: 'Job losers, dismissal or other reasons'},
 'availability_during_reference_week': {1: 'Not available',
  2: 'Yes, available'},
 'main_activity_before_started_looking_for_work': {0: 'Other',
  1: 'Working',
  2: 'Managing a home',
  3: 'Going to school'},
 'reason_for_not_looking_for_work_during_the_reference_week': {0: 'Wanted work, reason - other',
  1: 'Wanted work, reason - own illness or disability',
  2: 'Wanted work, reason - caring for children',
  3: 'Wanted work, reason - other personal or family responsibilities',
  4: 'Wanted work, reason - school',
  5: 'Wanted work, reason - awaiting recall or reply',
  6: 'Wanted work, reason - discouraged'},
 'temporary_layoff,_looked_for_work_during_the_last_four_weeks': {1: 'Yes',
  2: 'No'},
 'current_student_status': {1: 'Non-student',
  2: 'Full-time student',
  3: 'Part-time student'},
 'type_of_economic_family': {1: 'Person not in an economic family',
  2: 'Dual-earner couple, no children or none under 25',
  3: 'Dual-earner couple, youngest child 0 to 17',
  4: 'Dual-earner couple, youngest child 18 to 24',
  5: 'Single-earner couple, male employed, no children or none under 25',
  6: 'Single-earner couple, male employed, youngest child 0 to 17',
  7: 'Single-earner couple, male employed, youngest child 18 to 24',
  8: 'Single-earner couple, female employed, no children or none under 25',
  9: 'Single-earner couple, female employed, youngest child 0 to 17',
  10: 'Single-earner couple, female employed, youngest child 18 to 24',
  11: 'Non-earner couple, no children or none under 25',
  12: 'Non-earner couple, youngest child 0 to 17',
  13: 'Non-earner couple, youngest child 18 to 24',
  14: 'Lone-parent family, parent employed, youngest child 0 to 17',
  15: 'Lone-parent family, parent employed, youngest child 18 to 24',
  16: 'Lone-parent family, parent not employed, youngest child 0 to 17',
  17: 'Lone-parent family, parent not employed, youngest child 18 to 24',
  18: 'Other families'},
 'age_of_youngest_child': {1: 'Youngest child less than 6 years',
  2: 'Youngest child 6 to 12 years',
  3: 'Youngest child 13 to 17 years',
  4: 'Youngest child 18 to 24 years'}}

In [38]:
for col in df_desc:
    if col in col_map_dict.keys():
        df_desc[col] = df_desc[col].map(col_map_dict[col])

In [39]:
cols_to_divide_by_ten = ['usual_hours_worked_per_week_at_main_job',
'actual_hours_worked_per_week_at_main_job',
'usual_hours_worked_per_week_all_jobs',
'actual_hours_worked_per_week_all_jobs',
'hours_away_from_work_part_week_absence',
'paid_overtime_hours_in_reference_week',
'unpaid_overtime_hours_in_reference_week',
'number_of_overtime_or_extra_hours_worked']

for col in df_desc:
    if 'hours' in col:
        df_desc[col] = df_desc[col]/10

In [40]:
df_desc.sample()

,record_order,survey_year,survey_month,labour_force_status,province,nine_largest_cmas,five_year_age_group,age_group_15_29,sex,marital_status,highest_educational_attainment,single_or_multiple_jobholder,person_has_worked_in_last_year,full_or_part_time_last_job,class_of_worker_main_job,immigrant_status,industry_of_main_job,occupation_at_main_job_col1,occupation_at_main_job_col2,reason_of_absence_full_week,number_of_weeks_absent_from_work,paid_for_time_off_full_week_absence,usual_hours_worked_per_week_at_main_job,actual_hours_worked_per_week_at_main_job,full_or_part_time_main_job,usual_hours_worked_per_week_all_jobs,actual_hours_worked_per_week_all_jobs,hours_away_from_work_part_week_absence,reason_for_part_week_absence,paid_overtime_hours_in_reference_week,unpaid_overtime_hours_in_reference_week,number_of_overtime_or_extra_hours_worked,reason_for_part_time_work,job_tenure_months_current_employer,job_tenure_previous_employer,usual_hourly_wages,union_status,job_permanency,establishment_size,firm_size,duration_of_unemployment_weeks,flows_into_unemployment,job_seekers_by_type_of_work_sought_and_temporary_layoffs_by_work_status_of_last_job,reason_for_leaving_job_previous_year_col1,reason_for_leaving_job_previous_year_col2,duration_of_joblessness_months,availability_during_reference_week,"unemployed,_used_public_employment_agency","unemployed,_checked_with_employers_directly","unemployed,_checked_with_friends_or_relatives","unemployed,_looked_at_job_ads","unemployed,_placed_or_answered_ads","unemployed,_other_methods",main_activity_before_started_looking_for_work,reason_for_not_looking_for_work_during_the_reference_week,"temporary_layoff,_looked_for_work_during_the_last_four_weeks",current_student_status,type_of_economic_family,age_of_youngest_child,standard_final_weight
5912,5913,2023,12,Not in labour force,Saskatchewan,Other CMA or non-CMA,70 and over,NaN,Female,Separated,Postsecondary certificate or diploma,NaN,"Yes, more than 1 year ago",NaN,NaN,Non-immigrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Person not in an economic family,NaN,150

In [63]:
df_desc.labour_force_status = df_desc.labour_force_status.map({1:'Employed, at work', 2: 'Employed, absent from work', 
                                 3: 'Unemployed', 4: 'Not in labour force'})

In [ ]:
# maybe drop cols related to provinces in canada - it does not matter much for our analysis.

In [73]:
df_desc['five-year_age_group'] = df_desc['five-year_age_group'].map({1: '15 to 19 years',2: '20 to 24 years',3: '25 to 29 years',
                                    4: '30 to 34 years',5: '35 to 39 years',6: '40 to 44 years',7: '45 to 49 years',
                                    8: '50 to 54 years', 9: '55 to 59 years',10: '60 to 64 years',11: '65 to 69 years',
                                    12: '70 and over'})

In [78]:
df_desc['age_in_2_and_3_year_groups,_15_to_29']=df_desc['age_in_2_and_3_year_groups,_15_to_29'].map({1: '15 to 16 years', 2: '17 to 19 years',3: '20 to 21 years',4: '22 to 24 years',5: '25 to 26 years',
 6: '27 to 29 years'})

In [80]:
df_desc['sex'] = df_desc['sex'].map({1:'Male', 2:'Female'})

In [82]:
df_desc.sample(3)

,labour_force_status,province,nine_largest_cmas,five-year_age_group,"age_in_2_and_3_year_groups,_15_to_29",sex,marital_status,highest_educational_attainment,single_or_multiple_jobholder,identifies_if_a_person_has_worked_in_the_last_year,full-_or_part-time_status_of_last_job,"class_of_worker,_main_job",immigrant_status,industry_of_main_job,occupation_at_main_job,occupation_at_main_job,"reason_of_absence,_full_week",number_of_weeks_absent_from_work,"paid_for_time_off,_full-week_absence_only",usual_hours_worked_per_week_at_main_job,actual_hours_worked_per_week_at_main_job,full-_or_part-time_status_at_main_or_only_job,usual_hours_worked_per_week_at_all_jobs,actual_hours_worked_per_week_at_all_jobs,"hours_away_from_work,_part-week_absence_only",reason_for_part-week_absence,paid_overtime_hours_in_reference_week,unpaid_overtime_hours_in_reference_week,number_of_overtime_or_extra_hours_worked,reason_for_part-time_work,job_tenure_with_current_employer,job_tenure_with_previous_employer,usual_hourly_wages,union_status,job_permanency,establishment_size,firm_size,duration_of_unemployment,flows_into_unemployment,job_seekers_by_type_of_work_sought_and_temporary_layoffs_by_work_status_of_last_job,reason_for_leaving_job_during_previous_year_,reason_for_leaving_job_during_previous_year_,duration_of_joblessness,availability_during_the_reference_week,"unemployed,_used_public_employment_agency","unemployed,_checked_with_employers_directly","unemployed,_checked_with_friends_or_relatives","unemployed,_looked_at_job_ads","unemployed,_placed_or_answered_ads","unemployed,_other_methods",main_activity_before_started_looking_for_work,reason_for_not_looking_for_work_during_the_reference_week,"temporary_layoff,_looked_for_work_during_the_last_four_weeks",current_student_status,type_of_economic_family,age_of_youngest_child,standard_final_weight
58500,"Employed, at work",46,6,50 to 54 years,NaN,Male,5,4,1.0,NaN,NaN,1.0,3,16.0,5.0,20.0,NaN,NaN,NaN,362.0,362.0,1.0,362.0,362.0,0.0,NaN,0.0,0.0,0.0,NaN,77.0,NaN,3800.0,1.0,1.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,NaN,302
72206,"Employed, at work",48,8,15 to 19 years,17 to 19 years,Female,6,1,1.0,NaN,NaN,2.0,3,18.0,7.0,34.0,NaN,NaN,NaN,70.0,70.0,2.0,70.0,70.0,0.0,NaN,0.0,0.0,0.0,4.0,3.0,NaN,1350.0,3.0,1.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,6,NaN,495
22555,Not in labour force,35,4,60 to 64 years,NaN,Male,1,2,NaN,2.0,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,8,NaN,1019

In [85]:
df_desc['marital_status'] = df_desc['marital_status'].map({1: 'Married',
 2: 'Living in common-law',
 3: 'Widowed',
 4: 'Separated',
 5: 'Divorced',
 6: 'Single, never married'})

In [88]:
df_desc['highest_educational_attainment'] = df_desc['highest_educational_attainment'].map({0: '0 to 8 years',
 1: 'Some high school',
 2: 'High school graduate',
 3: 'Some postsecondary',
 4: 'Postsecondary certificate or diploma',
 5: "Bachelor's degree",
 6: "Above bachelor's degree"})

In [91]:
df_desc['single_or_multiple_jobholder'] = df_desc['single_or_multiple_jobholder'].map({1.:'Single', 2.:'Multiple'})

In [97]:
df_desc['identifies_if_a_person_has_worked_in_the_last_year'] = df_desc['identifies_if_a_person_has_worked_in_the_last_year'].map({1.: 'Yes, within last year',2.: 'Yes, more than 1 year ago',3.: 'No, never worked'})

In [103]:
df_desc['full-_or_part-time_status_of_last_job'].isnull().sum()

100719

In [104]:
df_desc['full-_or_part-time_status_of_last_job'] = df_desc['full-_or_part-time_status_of_last_job'].map({1.:'Full-time (30 hours or more)', 2.:'Part-time'})

In [107]:
df_desc['class_of_worker,_main_job']=df_desc['class_of_worker,_main_job'].map({1: 'Public sector employees',
 2: 'Private sector employees',
 3: 'Self-employed incorporated, with paid help',
 4: 'Self-employed incorporated, no paid help',
 5: 'Self-employed unincorporated, with paid help',
 6: 'Self-employed unincorporated, no paid help',
 7: 'Unpaid family worker'})

In [108]:
df_desc.sample(3)

,labour_force_status,province,nine_largest_cmas,five-year_age_group,"age_in_2_and_3_year_groups,_15_to_29",sex,marital_status,highest_educational_attainment,single_or_multiple_jobholder,identifies_if_a_person_has_worked_in_the_last_year,full-_or_part-time_status_of_last_job,"class_of_worker,_main_job",immigrant_status,industry_of_main_job,occupation_at_main_job,occupation_at_main_job,"reason_of_absence,_full_week",number_of_weeks_absent_from_work,"paid_for_time_off,_full-week_absence_only",usual_hours_worked_per_week_at_main_job,actual_hours_worked_per_week_at_main_job,full-_or_part-time_status_at_main_or_only_job,usual_hours_worked_per_week_at_all_jobs,actual_hours_worked_per_week_at_all_jobs,"hours_away_from_work,_part-week_absence_only",reason_for_part-week_absence,paid_overtime_hours_in_reference_week,unpaid_overtime_hours_in_reference_week,number_of_overtime_or_extra_hours_worked,reason_for_part-time_work,job_tenure_with_current_employer,job_tenure_with_previous_employer,usual_hourly_wages,union_status,job_permanency,establishment_size,firm_size,duration_of_unemployment,flows_into_unemployment,job_seekers_by_type_of_work_sought_and_temporary_layoffs_by_work_status_of_last_job,reason_for_leaving_job_during_previous_year_,reason_for_leaving_job_during_previous_year_,duration_of_joblessness,availability_during_the_reference_week,"unemployed,_used_public_employment_agency","unemployed,_checked_with_employers_directly","unemployed,_checked_with_friends_or_relatives","unemployed,_looked_at_job_ads","unemployed,_placed_or_answered_ads","unemployed,_other_methods",main_activity_before_started_looking_for_work,reason_for_not_looking_for_work_during_the_reference_week,"temporary_layoff,_looked_for_work_during_the_last_four_weeks",current_student_status,type_of_economic_family,age_of_youngest_child,standard_final_weight
84347,"Employed, at work",35,0,45 to 49 years,NaN,Male,Separated,Postsecondary certificate or diploma,Single,NaN,NaN,Private sector employees,3,20.0,8.0,36.0,NaN,NaN,NaN,400.0,400.0,1.0,400.0,400.0,0.0,NaN,0.0,0.0,0.0,NaN,8.0,NaN,2400.0,3.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,14,2.0,130
43960,"Employed, at work",13,0,55 to 59 years,NaN,Female,Married,Above bachelor's degree,Single,NaN,NaN,Public sector employees,3,17.0,4.0,14.0,NaN,NaN,NaN,375.0,375.0,1.0,375.0,375.0,0.0,NaN,0.0,0.0,0.0,NaN,240.0,NaN,4538.0,1.0,1.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2,NaN,168
83236,Not in labour force,24,2,20 to 24 years,22 to 24 years,Female,"Single, never married",Postsecondary certificate or diploma,NaN,"Yes, within last year",Part-time,Private sector employees,2,10.0,7.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,5.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3,NaN,371

In [111]:
df_desc['immigrant_status']=df_desc['immigrant_status'].map({1:'Immigrant, less than 10 years in Canada', 2:'Immigrant, more than 10 years in Canada', 
                                3:'Non-immigrant'})

In [115]:
df_desc['industry_of_main_job'] = df_desc['industry_of_main_job'].map({1: 'Agriculture',
 2: 'Forestry and logging and support activities for forestry',3: 'Fishing, hunting and trapping',
 4: 'Mining, quarrying, and oil and gas extraction',5: 'Utilities',6: 'Construction',
 7: 'Manufacturing - durable goods',8: 'Manufacturing - non-durable goods',9: 'Wholesale trade',
 10: 'Retail trade',11: 'Transportation and warehousing',12: 'Finance and insurance',
 13: 'Real estate and rental and leasing',14: 'Professional, scientific and technical services',
 15: 'Business, building and other support services',16: 'Educational services',
 17: 'Health care and social assistance',18: 'Information, culture and recreation',19: 'Accommodation and food services',
 20: 'Other services (except public administration)',21: 'Public administration'})

In [194]:
df_desc.columns = ['labour_force_status', 'province', 'nine_largest_cmas',
       'five-year_age_group', 'age_in_2_and_3_year_groups,_15_to_29', 'sex',
       'marital_status', 'highest_educational_attainment',
       'single_or_multiple_jobholder',
       'identifies_if_a_person_has_worked_in_the_last_year',
       'full-_or_part-time_status_of_last_job', 'class_of_worker,_main_job',
       'immigrant_status', 'industry_of_main_job', 'occupation_at_main_job_col1',
       'occupation_at_main_job_col2', 'reason_of_absence,_full_week',
       'number_of_weeks_absent_from_work',
       'paid_for_time_off,_full-week_absence_only',
       'usual_hours_worked_per_week_at_main_job',
       'actual_hours_worked_per_week_at_main_job',
       'full-_or_part-time_status_at_main_or_only_job',
       'usual_hours_worked_per_week_at_all_jobs',
       'actual_hours_worked_per_week_at_all_jobs',
       'hours_away_from_work,_part-week_absence_only',
       'reason_for_part-week_absence', 'paid_overtime_hours_in_reference_week',
       'unpaid_overtime_hours_in_reference_week',
       'number_of_overtime_or_extra_hours_worked', 'reason_for_part-time_work',
       'job_tenure_with_current_employer_months', 'job_tenure_with_previous_employer',
       'usual_hourly_wages', 'union_status', 'job_permanency',
       'establishment_size', 'firm_size', 'duration_of_unemployment',
       'flows_into_unemployment',
       'job_seekers_by_type_of_work_sought_and_temporary_layoffs_by_work_status_of_last_job',
       'reason_for_leaving_job_during_previous_year_',
       'reason_for_leaving_job_during_previous_year_',
       'duration_of_joblessness', 'availability_during_the_reference_week',
       'unemployed,_used_public_employment_agency',
       'unemployed,_checked_with_employers_directly',
       'unemployed,_checked_with_friends_or_relatives',
       'unemployed,_looked_at_job_ads', 'unemployed,_placed_or_answered_ads',
       'unemployed,_other_methods',
       'main_activity_before_started_looking_for_work',
       'reason_for_not_looking_for_work_during_the_reference_week',
       'temporary_layoff,_looked_for_work_during_the_last_four_weeks',
       'current_student_status', 'type_of_economic_family',
       'age_of_youngest_child', 'standard_final_weight']

In [119]:
df_desc.sample(3)

,labour_force_status,province,nine_largest_cmas,five-year_age_group,"age_in_2_and_3_year_groups,_15_to_29",sex,marital_status,highest_educational_attainment,single_or_multiple_jobholder,identifies_if_a_person_has_worked_in_the_last_year,full-_or_part-time_status_of_last_job,"class_of_worker,_main_job",immigrant_status,industry_of_main_job,occupation_at_main_job_col1,occupation_at_main_job_col2,"reason_of_absence,_full_week",number_of_weeks_absent_from_work,"paid_for_time_off,_full-week_absence_only",usual_hours_worked_per_week_at_main_job,actual_hours_worked_per_week_at_main_job,full-_or_part-time_status_at_main_or_only_job,usual_hours_worked_per_week_at_all_jobs,actual_hours_worked_per_week_at_all_jobs,"hours_away_from_work,_part-week_absence_only",reason_for_part-week_absence,paid_overtime_hours_in_reference_week,unpaid_overtime_hours_in_reference_week,number_of_overtime_or_extra_hours_worked,reason_for_part-time_work,job_tenure_with_current_employer,job_tenure_with_previous_employer,usual_hourly_wages,union_status,job_permanency,establishment_size,firm_size,duration_of_unemployment,flows_into_unemployment,job_seekers_by_type_of_work_sought_and_temporary_layoffs_by_work_status_of_last_job,reason_for_leaving_job_during_previous_year_,reason_for_leaving_job_during_previous_year_,duration_of_joblessness,availability_during_the_reference_week,"unemployed,_used_public_employment_agency","unemployed,_checked_with_employers_directly","unemployed,_checked_with_friends_or_relatives","unemployed,_looked_at_job_ads","unemployed,_placed_or_answered_ads","unemployed,_other_methods",main_activity_before_started_looking_for_work,reason_for_not_looking_for_work_during_the_reference_week,"temporary_layoff,_looked_for_work_during_the_last_four_weeks",current_student_status,type_of_economic_family,age_of_youngest_child,standard_final_weight
43893,"Employed, at work",46,6,40 to 44 years,NaN,Male,Married,Postsecondary certificate or diploma,Single,NaN,NaN,Private sector employees,"Immigrant, more than 10 years in Canada",Wholesale trade,3.0,13.0,NaN,NaN,NaN,350.0,490.0,1.0,350.0,490.0,0.0,NaN,140.0,0.0,140.0,NaN,156.0,NaN,3352.0,3.0,1.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6,2.0,209
55136,Not in labour force,46,0,70 and over,NaN,Male,"Single, never married",Bachelor's degree,NaN,"Yes, more than 1 year ago",NaN,NaN,Non-immigrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,55
63548,Not in labour force,47,0,45 to 49 years,NaN,Female,Married,Bachelor's degree,NaN,"Yes, more than 1 year ago",NaN,NaN,Non-immigrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,188.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6,2.0,113

In [123]:
df_desc['occupation_at_main_job_col1'] = df_desc['occupation_at_main_job_col1'].map({1: 'Management occupations',
 2: 'Business, finance and administration occupations, except management',
 3: 'Natural and applied sciences and related occupations, except management',
 4: 'Health occupations, except management',
 5: 'Occupations in education, law and social, community and government services, except management',
 6: 'Occupations in art, culture, recreation and sport, except management',
 7: 'Sales and service occupations, except management',
 8: 'Trades, transport and equipment operators and related occupations, except management',
 9: 'Natural resources, agriculture and related production occupations, except management',
 10: 'Occupations in manufacturing and utilities, except management'})

In [126]:
df_desc['occupation_at_main_job_col2']=df_desc['occupation_at_main_job_col2'].map({1: 'Legislative and senior management occupations',
 2: 'Specialized middle management occupations',
 3: 'Middle management occupations in retail and wholesale trade and customer services',
 4: 'Middle management occupations in trades, transportation, production and utilities',
 5: 'Professional occupations in finance',
 6: 'Professional occupations in business',
 7: 'Administrative and financial supervisors and specialized administrative occupations',
 8: 'Administrative occupations and transportation logistics occupations',
 9: 'Administrative and financial support and supply chain logistics occupations',
 10: 'Professional occupations in natural sciences',
 11: 'Professional occupations in applied sciences (except engineering)',
 12: 'Professional occupations in engineering',
 13: 'Technical occupations related to natural and applied sciences',
 14: 'Health treating and consultation services professionals',
 15: 'Therapy and assessment professionals',
 16: 'Nursing and allied health professionals',
 17: 'Technical occupations in health',
 18: 'Assisting occupations in support of health services',
 19: 'Professional occupations in law',
 20: 'Professional occupations in education services',
 21: 'Professional occupations in social and community services',
 22: 'Professional occupations in government services',
 23: 'Occupations in front-line public protection services',
 24: 'Paraprofessional occupations in legal, social, community and education services',
 25: 'Assisting occupations in education and in legal and public protection',
 26: 'Care providers and public protection support occupations and student monitors, crossing guards and related occupations',
 27: 'Professional occupations in art and culture',
 28: 'Technical occupations in art, culture and sport',
 29: 'Occupations in art, culture and sport',
 30: 'Support occupations in art, culture and sport',
 31: 'Retail sales and service supervisors and specialized occupations in sales and services',
 32: 'Occupations in sales and services',
 33: 'Sales and service representatives and other customer and personal services occupations',
 34: 'Sales and service support occupations',
 35: 'Technical trades and transportation officers and controllers',
 36: 'General trades',
 37: 'Mail and message distribution, other transport equipment operators and related maintenance workers',
 38: 'Helpers and labourers and other transport drivers, operators and labourers',
 39: 'Supervisors and occupations in natural resources, agriculture and related production',
 40: 'Workers and labourers in natural resources, agriculture and related production',
 41: 'Supervisors, central control and process operators in processing, manufacturing and utilities and aircraft assemblers and inspectors',
 42: 'Machine operators, assemblers and inspectors in processing, manufacturing and printing',
 43: 'Labourers in processing, manufacturing and utilities'})

In [131]:
df_desc['reason_of_absence,_full_week'] = df_desc['reason_of_absence,_full_week'].map({0: 'Other reasons',
 1: 'Own illness or disability',
 2: 'Personal or family responsibilities',
 3: 'Vacation'})

In [139]:
df_desc.sample(3)

,labour_force_status,province,nine_largest_cmas,five-year_age_group,"age_in_2_and_3_year_groups,_15_to_29",sex,marital_status,highest_educational_attainment,single_or_multiple_jobholder,identifies_if_a_person_has_worked_in_the_last_year,full-_or_part-time_status_of_last_job,"class_of_worker,_main_job",immigrant_status,industry_of_main_job,occupation_at_main_job_col1,occupation_at_main_job_col2,"reason_of_absence,_full_week",number_of_weeks_absent_from_work,"paid_for_time_off,_full-week_absence_only",usual_hours_worked_per_week_at_main_job,actual_hours_worked_per_week_at_main_job,full-_or_part-time_status_at_main_or_only_job,usual_hours_worked_per_week_at_all_jobs,actual_hours_worked_per_week_at_all_jobs,"hours_away_from_work,_part-week_absence_only",reason_for_part-week_absence,paid_overtime_hours_in_reference_week,unpaid_overtime_hours_in_reference_week,number_of_overtime_or_extra_hours_worked,reason_for_part-time_work,job_tenure_with_current_employer,job_tenure_with_previous_employer,usual_hourly_wages,union_status,job_permanency,establishment_size,firm_size,duration_of_unemployment,flows_into_unemployment,job_seekers_by_type_of_work_sought_and_temporary_layoffs_by_work_status_of_last_job,reason_for_leaving_job_during_previous_year_,reason_for_leaving_job_during_previous_year_,duration_of_joblessness,availability_during_the_reference_week,"unemployed,_used_public_employment_agency","unemployed,_checked_with_employers_directly","unemployed,_checked_with_friends_or_relatives","unemployed,_looked_at_job_ads","unemployed,_placed_or_answered_ads","unemployed,_other_methods",main_activity_before_started_looking_for_work,reason_for_not_looking_for_work_during_the_reference_week,"temporary_layoff,_looked_for_work_during_the_last_four_weeks",current_student_status,type_of_economic_family,age_of_youngest_child,standard_final_weight
40734,"Employed, absent from work",46,0,50 to 54 years,NaN,Male,Married,Bachelor's degree,Single,NaN,NaN,Public sector employees,Non-immigrant,Public administration,"Occupations in education, law and social, comm...",Professional occupations in government services,Own illness or disability,55.0,1.0,375.0,0.0,1.0,375.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,50.0,NaN,3200.0,1.0,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4,4.0,259
15382,"Employed, at work",24,0,35 to 39 years,NaN,Male,Living in common-law,Postsecondary certificate or diploma,Single,NaN,NaN,Private sector employees,Non-immigrant,Transportation and warehousing,"Trades, transport and equipment operators and ...",General trades,NaN,NaN,NaN,420.0,420.0,1.0,420.0,420.0,0.0,NaN,0.0,0.0,0.0,NaN,34.0,NaN,2200.0,3.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3,1.0,645
69846,Not in labour force,46,6,55 to 59 years,NaN,Female,"Single, never married",High school graduate,NaN,"Yes, more than 1 year ago",NaN,NaN,Non-immigrant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,17,4.0,365

In [141]:
df_desc['paid_for_time_off,_full-week_absence_only']=df_desc['paid_for_time_off,_full-week_absence_only'].map({1.:'Yes', 2.:'No'})

In [144]:
# There is something wrong here. I doubt the average work hours per week is 400. Maybe we should divide by ten.
round(df_desc['usual_hours_worked_per_week_at_main_job'].mean()), df_desc['usual_hours_worked_per_week_at_main_job'].median(), df_desc['usual_hours_worked_per_week_at_main_job'].min(), df_desc['usual_hours_worked_per_week_at_main_job'].max()

(356, 400.0, 1.0, 990.0)

In [156]:
df_desc['usual_hours_worked_per_week_at_main_job'] = df_desc['usual_hours_worked_per_week_at_main_job']/10

In [179]:
df_desc['usual_hours_worked_per_week_at_all_jobs'] = df_desc['usual_hours_worked_per_week_at_all_jobs']/10

In [159]:
round(df_desc['actual_hours_worked_per_week_at_all_jobs'].mean()), df_desc['actual_hours_worked_per_week_at_all_jobs'].median(), df_desc['actual_hours_worked_per_week_at_all_jobs'].max()

(334, 375.0, 990.0)

In [160]:
df_desc['actual_hours_worked_per_week_at_all_jobs'] = df_desc['actual_hours_worked_per_week_at_all_jobs']/10

In [166]:
df_desc['hours_away_from_work,_part-week_absence_only'].max(), df_desc['hours_away_from_work,_part-week_absence_only'].mean(), df_desc['hours_away_from_work,_part-week_absence_only'].median()

(720.0, 15.479212552382808, 0.0)

In [169]:
df_desc['hours_away_from_work,_part-week_absence_only'].replace(0, np.NaN).median(), df_desc['hours_away_from_work,_part-week_absence_only'].replace(0, np.NaN).mean()

(80.0, 106.29915673939232)

In [ ]:
# divide these values by 10 again.

In [170]:
df_desc['hours_away_from_work,_part-week_absence_only'] = df_desc['hours_away_from_work,_part-week_absence_only']/10

In [174]:
df_desc['reason_for_part-week_absence'] = df_desc['reason_for_part-week_absence'].map({0: 'Other reasons',
 1: 'Own illness or disability',
 2: 'Personal or family responsibilities',
 3: 'Vacation or civic holiday',
 4: 'Working short-time'})

In [183]:
df_desc.paid_overtime_hours_in_reference_week = df_desc.paid_overtime_hours_in_reference_week/10

In [184]:
df_desc.unpaid_overtime_hours_in_reference_week = df_desc.unpaid_overtime_hours_in_reference_week/10

In [186]:
df_desc['number_of_overtime_or_extra_hours_worked'] = df_desc['number_of_overtime_or_extra_hours_worked']/10

In [190]:
df_desc['reason_for_part-time_work'] = df_desc['reason_for_part-time_work'].map({0: 'Other reasons',
 1: 'Own illness or disability',
 2: 'Caring for children',
 3: 'Other personal or family responsibilities',
 4: 'Going to school',
 5: 'Personal preference',
 6: 'Business conditions or could not find full-time work, looked for full-time work in last month',
 7: 'Business conditions or could not find full-time work, did not look for full-time work in last month'})

In [196]:
# These hourly wages seem very high. Maybe they are weekly or monthly wages? Look into this. 
df_desc['usual_hourly_wages'].mean(), df_desc['usual_hourly_wages'].median(), df_desc['usual_hourly_wages'].max()

(3393.8444295569357, 2900.0, 20337.0)

Survey Questions related to wages?

EAR_Q205 / EQ 57 – What is your weekly wage or salary, before taxes and other deductions?

EAR_Q206 / EQ 58 – What is your bi-weekly wage or salary, before taxes and other deductions?

EAR_Q207 / EQ 59 – What is your semi-monthly wage or salary, before taxes and other deductions?

EAR_Q208 / EQ 60 – What is your monthly wage or salary, before taxes and other deductions?

EAR_Q209 / EQ 61 – What is your yearly wage or salary, before taxes and other deductions?

Maybe there was a mistake in the way the surveyer entered the data.

In [200]:
df_desc.union_status=df_desc.union_status.map({1: 'Union member', 2: 'Not a member but covered by a union contract or collective agreement',
 3: 'Non-unionized'})

In [204]:
df_desc.job_permanency = df_desc.job_permanency.map({1: 'Permanent',2: 'Temporary, seasonal job',3: 'Temporary, term or contract job',
 4: 'Temporary, casual or other temporary jobs'})

In [207]:
df_desc.establishment_size = df_desc.establishment_size.map({1: 'Less than 20 employees',
 2: '20 to 99 employees',
 3: '100 to 500 employees',
 4: 'More than 500 employees'})

In [209]:
df_desc.firm_size=df_desc.firm_size.map({1: 'Less than 20 employees',
 2: '20 to 99 employees',
 3: '100 to 500 employees',
 4: 'More than 500 employees'})

In [230]:
df_desc.age_of_youngest_child=df_desc.age_of_youngest_child.map({1: 'Youngest child less than 6 years',
 2: 'Youngest child 6 to 12 years',
 3: 'Youngest child 13 to 17 years',
 4: 'Youngest child 18 to 24 years'})

In [231]:
df_desc.type_of_economic_family=df_desc.type_of_economic_family.map({1: 'Person not in an economic family',
 2: 'Dual-earner couple, no children or none under 25',
 3: 'Dual-earner couple, youngest child 0 to 17',
 4: 'Dual-earner couple, youngest child 18 to 24',
 5: 'Single-earner couple, male employed, no children or none under 25',
 6: 'Single-earner couple, male employed, youngest child 0 to 17',
 7: 'Single-earner couple, male employed, youngest child 18 to 24',
 8: 'Single-earner couple, female employed, no children or none under 25',
 9: 'Single-earner couple, female employed, youngest child 0 to 17',
 10: 'Single-earner couple, female employed, youngest child 18 to 24',
 11: 'Non-earner couple, no children or none under 25',
 12: 'Non-earner couple, youngest child 0 to 17',
 13: 'Non-earner couple, youngest child 18 to 24',
 14: 'Lone-parent family, parent employed, youngest child 0 to 17',
 15: 'Lone-parent family, parent employed, youngest child 18 to 24',
 16: 'Lone-parent family, parent not employed, youngest child 0 to 17',
 17: 'Lone-parent family, parent not employed, youngest child 18 to 24',
 18: 'Other families'})

In [226]:
df_desc.current_student_status=df_desc.current_student_status.map({1: 'Non-student', 2: 'Full-time student', 3: 'Part-time student'})

In [228]:
df_desc['temporary_layoff,_looked_for_work_during_the_last_four_weeks']=df_desc['temporary_layoff,_looked_for_work_during_the_last_four_weeks'].map({1:'Yes', 2:'No'})

In [235]:
df_desc['reason_for_not_looking_for_work_during_the_reference_week']=df_desc['reason_for_not_looking_for_work_during_the_reference_week'].map({0: 'Wanted work, reason - other',
 1: 'Wanted work, reason - own illness or disability',
 2: 'Wanted work, reason - caring for children',
 3: 'Wanted work, reason - other personal or family responsibilities',
 4: 'Wanted work, reason - school',
 5: 'Wanted work, reason - awaiting recall or reply',
 6: 'Wanted work, reason - discouraged'})

In [240]:
df_desc['main_activity_before_started_looking_for_work']=df_desc['main_activity_before_started_looking_for_work'].map({0: 'Other', 1: 'Working', 2: 'Managing a home', 
                                                              3: 'Going to school'})

In [242]:
#df['unemployed,_other_methods'].map({1:'Yes'}).fillna('No')
df['unemployed,_other_methods']=df['unemployed,_other_methods'].map({1:'Yes'})

In [244]:
df['unemployed,_other_methods']=df['unemployed,_other_methods'].map({'Yes':1})

In [245]:
df_desc.sample()

,labour_force_status,province,nine_largest_cmas,five-year_age_group,"age_in_2_and_3_year_groups,_15_to_29",sex,marital_status,highest_educational_attainment,single_or_multiple_jobholder,identifies_if_a_person_has_worked_in_the_last_year,full-_or_part-time_status_of_last_job,"class_of_worker,_main_job",immigrant_status,industry_of_main_job,occupation_at_main_job_col1,occupation_at_main_job_col2,"reason_of_absence,_full_week",number_of_weeks_absent_from_work,"paid_for_time_off,_full-week_absence_only",usual_hours_worked_per_week_at_main_job,actual_hours_worked_per_week_at_main_job,full-_or_part-time_status_at_main_or_only_job,usual_hours_worked_per_week_at_all_jobs,actual_hours_worked_per_week_at_all_jobs,"hours_away_from_work,_part-week_absence_only",reason_for_part-week_absence,paid_overtime_hours_in_reference_week,unpaid_overtime_hours_in_reference_week,number_of_overtime_or_extra_hours_worked,reason_for_part-time_work,job_tenure_with_current_employer_months,job_tenure_with_previous_employer,usual_hourly_wages,union_status,job_permanency,establishment_size,firm_size,duration_of_unemployment,flows_into_unemployment,job_seekers_by_type_of_work_sought_and_temporary_layoffs_by_work_status_of_last_job,reason_for_leaving_job_during_previous_year_,reason_for_leaving_job_during_previous_year_,duration_of_joblessness,availability_during_the_reference_week,"unemployed,_used_public_employment_agency","unemployed,_checked_with_employers_directly","unemployed,_checked_with_friends_or_relatives","unemployed,_looked_at_job_ads","unemployed,_placed_or_answered_ads","unemployed,_other_methods",main_activity_before_started_looking_for_work,reason_for_not_looking_for_work_during_the_reference_week,"temporary_layoff,_looked_for_work_during_the_last_four_weeks",current_student_status,type_of_economic_family,age_of_youngest_child,standard_final_weight
96857,"Employed, at work",35,0,15 to 19 years,17 to 19 years,Female,"Single, never married",High school graduate,Single,NaN,NaN,Private sector employees,Non-immigrant,Accommodation and food services,"Sales and service occupations, except management",Retail sales and service supervisors and speci...,NaN,NaN,NaN,14.0,140.0,2.0,14.0,14.0,0.0,NaN,0.0,0.0,0.0,Going to school,27.0,NaN,1600.0,Non-unionized,1.0,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Full-time student,NaN,NaN,290

In [58]:
col_desc

[('rec_num', 'Order of record in file'),
 ('1-9999999', nan),
 ('survyear', 'Survey year'),
 ('1976-', nan),
 ('survmnth', 'Survey month'),
 ('01', 'January'),
 ('02', 'February'),
 ('03', 'March'),
 ('04', 'April'),
 ('05', 'May'),
 ('06', 'June'),
 ('07', 'July'),
 ('08', 'August'),
 ('09', 'September'),
 ('10', 'October'),
 ('11', 'November'),
 ('12', 'December'),
 (' lfsstat    ', 'Labour force status'),
 ('1', 'Employed, at work'),
 ('2', 'Employed, absent from work'),
 ('3', 'Unemployed'),
 ('4', 'Not in labour force'),
 ('prov', 'Province'),
 ('10', 'Newfoundland and Labrador'),
 ('11', 'Prince Edward Island'),
 ('12', 'Nova Scotia'),
 ('13', 'New Brunswick'),
 ('24', 'Quebec'),
 ('35', 'Ontario'),
 ('46', 'Manitoba'),
 ('47', 'Saskatchewan'),
 ('48', 'Alberta'),
 ('59', 'British Columbia'),
 ('cma', 'Nine largest CMAs'),
 ('1', 'Québec'),
 ('2', 'Montréal'),
 ('3', 'Ottawa\x96Gatineau (Ontario part)'),
 ('4', 'Toronto'),
 ('5', 'Hamilton'),
 ('6', 'Winnipeg'),
 ('7', 'Calgary'),
 ('8', 'Edmonton'),
 ('9', 'Vancouver'),
 ('0', 'Other CMA or non-CMA'),
 ('age_12', 'Five-year age group of respondent'),
 ('01', '15 to 19 years'),
 ('02', '20 to 24 years'),
 ('03', '25 to 29 years'),
 ('04', '30 to 34 years'),
 ('05', '35 to 39 years'),
 ('06', '40 to 44 years'),
 ('07', '45 to 49 years'),
 ('08', '50 to 54 years'),
 ('09', '55 to 59 years'),
 ('10', '60 to 64 years'),
 ('11', '65 to 69 years'),
 ('12', '70 and over'),
 ('age_6    ', 'Age in 2 and 3 year groups, 15 to 29'),
 ('1', '15 to 16 years'),
 ('2', '17 to 19 years'),
 ('3', '20 to 21 years'),
 ('4', '22 to 24 years'),
 ('5', '25 to 26 years'),
 ('6', '27 to 29 years'),
 ('blank', 'Not applicable'),
 ('sex', 'Sex of respondent'),
 ('1', 'Male'),
 ('2', 'Female'),
 ('marstat', 'Marital status of respondent'),
 ('1', 'Married'),
 ('2', 'Living in common-law'),
 ('3', 'Widowed'),
 ('4', 'Separated'),
 ('5', 'Divorced'),
 ('6', 'Single, never married'),
 ('educ', 'Highest educational attainment'),
 ('0', '0 to 8 years'),
 ('1', 'Some high school'),
 ('2', 'High school graduate'),
 ('3', 'Some postsecondary'),
 ('4', 'Postsecondary certificate or diploma'),
 ('5', "Bachelor's degree"),
 ('6', "Above bachelor's degree"),
 ('mjh', 'Single or multiple jobholder'),
 ('1', 'Single jobholder, including job changers'),
 ('2', 'Multiple jobholder'),
 ('blank', 'Not applicable'),
 ('everwork', 'Identifies if a person has worked in the last year'),
 ('1', 'Yes, within last year'),
 ('2', 'Yes, more than 1 year ago'),
 ('3', 'No, never worked'),
 ('blank', 'Not applicable'),
 ('ftptlast', 'Full- or part-time status of last job'),
 ('1', 'Full-time (30 hours or more)'),
 ('2', 'Part-time (1 to 29 hours)'),
 ('blank', 'Not applicable'),
 ('cowmain', 'Class of worker, main job'),
 ('1', 'Public sector employees'),
 ('2', 'Private sector employees'),
 ('3', 'Self-employed incorporated, with paid help'),
 ('4', 'Self-employed incorporated, no paid help'),
 ('5', 'Self-employed unincorporated, with paid help'),
 ('6', 'Self-employed unincorporated, no paid help'),
 ('7', 'Unpaid family worker'),
 ('blank', 'Not applicable'),
 ('immig', 'Immigrant status'),
 ('1', 'Immigrant, landed 10 or less years earlier'),
 ('2', 'Immigrant, landed more than 10 years earlier'),
 ('3', 'Non-immigrant'),
 ('naics_21', 'Industry of main job'),
 ('01', 'Agriculture'),
 ('02', 'Forestry and logging and support activities for forestry'),
 ('03', 'Fishing, hunting and trapping'),
 ('04', 'Mining, quarrying, and oil and gas extraction'),
 ('05', 'Utilities'),
 ('06', 'Construction'),
 ('07', 'Manufacturing - durable goods'),
 ('08', 'Manufacturing - non-durable goods'),
 ('09', 'Wholesale trade'),
 ('10', 'Retail trade'),
 ('11', 'Transportation and warehousing'),
 ('12', 'Finance and insurance'),
 ('13', 'Real estate and rental and leasing'),
 ('14', 'Professional, scientific and technical services'),
 ('15', 'Business, building and other support services'),
 ('16', 'Educational services'),
 ('17', 'Health care and social assistance'),
 ('18', 'Information, culture and recreation'),
 ('19', 'Accommodation and food services'),
 ('20', 'Other services (except public administration)'),
 ('21', 'Public administration'),
 ('blank', 'Not applicable'),
 ('noc_10    ', 'Occupation at main job'),
 ('01', 'Management occupations'),
 ('02', 'Business, finance and administration occupations, except management'),
 ('03',
  'Natural and applied sciences and related occupations, except management'),
 ('04', 'Health occupations, except management'),
 ('05',
  'Occupations in education, law and social, community and government services, except management'),
 ('06',
  'Occupations in art, culture, recreation and sport, except management'),
 ('07', 'Sales and service occupations, except management'),
 ('08',
  'Trades, transport and equipment operators and related occupations, except management'),
 ('09',
  'Natural resources, agriculture and related production occupations, except management'),
 ('10', 'Occupations in manufacturing and utilities, except management'),
 ('blank', 'Not applicable'),
 ('noc_43', 'Occupation at main job'),
 ('01', 'Legislative and senior management occupations'),
 ('02', 'Specialized middle management occupations'),
 ('03',
  'Middle management occupations in retail and wholesale trade and customer services'),
 ('04',
  'Middle management occupations in trades, transportation, production and utilities'),
 ('05', 'Professional occupations in finance'),
 ('06', 'Professional occupations in business'),
 ('07',
  'Administrative and financial supervisors and specialized administrative occupations'),
 ('08', 'Administrative occupations and transportation logistics occupations'),
 ('09',
  'Administrative and financial support and supply chain logistics occupations'),
 ('10', 'Professional occupations in natural sciences'),
 ('11', 'Professional occupations in applied sciences (except engineering)'),
 ('12', 'Professional occupations in engineering'),
 ('13', 'Technical occupations related to natural and applied sciences'),
 ('14', 'Health treating and consultation services professionals'),
 ('15', 'Therapy and assessment professionals'),
 ('16', 'Nursing and allied health professionals'),
 ('17', 'Technical occupations in health'),
 ('18', 'Assisting occupations in support of health services'),
 ('19', 'Professional occupations in law'),
 ('20', 'Professional occupations in education services'),
 ('21', 'Professional occupations in social and community services'),
 ('22', 'Professional occupations in government services'),
 ('23', 'Occupations in front-line public protection services'),
 ('24',
  'Paraprofessional occupations in legal, social, community and education services'),
 ('25',
  'Assisting occupations in education and in legal and public protection'),
 ('26',
  'Care providers and public protection support occupations and student monitors, crossing guards and related occupations'),
 ('27', 'Professional occupations in art and culture'),
 ('28', 'Technical occupations in art, culture and sport'),
 ('29', 'Occupations in art, culture and sport'),
 ('30', 'Support occupations in art, culture and sport'),
 ('31',
  'Retail sales and service supervisors and specialized occupations in sales and services'),
 ('32', 'Occupations in sales and services'),
 ('33',
  'Sales and service representatives and other customer and personal services occupations'),
 ('34', 'Sales and service support occupations'),
 ('35', 'Technical trades and transportation officers and controllers'),
 ('36', 'General trades'),
 ('37',
  'Mail and message distribution, other transport equipment operators and related maintenance workers'),
 ('38',
  'Helpers and labourers and other transport drivers, operators and labourers'),
 ('39',
  'Supervisors and occupations in natural resources, agriculture and related production'),
 ('40',
  'Workers and labourers in natural resources, agriculture and related production'),
 ('41',
  'Supervisors, central control and process operators in processing, manufacturing and utilities and aircraft assemblers and inspectors'),
 ('42',
  'Machine operators, assemblers and inspectors in processing, manufacturing and printing'),
 ('43', 'Labourers in processing, manufacturing and utilities'),
 ('blank', 'Not applicable'),
 ('yabsent', 'Reason of absence, full week'),
 ('0', 'Other reasons'),
 ('1', 'Own illness or disability'),
 ('2', 'Personal or family responsibilities'),
 ('3', 'Vacation'),
 ('blank', 'Not applicable'),
 ('wksaway', 'Number of weeks absent from work'),
 ('Jan-99', 'Weeks'),
 ('blank', 'Not applicable'),
 ('payaway', 'Paid for time off, full-week absence only'),
 ('1', 'Yes'),
 ('2', 'No'),
 ('blank', 'Not applicable'),
 ('uhrsmain', 'Usual hours worked per week at main job'),
 ('001-990', 'Hours'),
 ('blank', 'Not applicable'),
 ('ahrsmain', 'Actual hours worked per week at main job'),
 ('000-990', 'Hours'),
 ('blank', 'Not applicable'),
 ('ftptmain', 'Full- or part-time status at main or only job'),
 ('1', 'Full-time'),
 ('2', 'Part-time'),
 ('blank', 'Not applicable'),
 ('utothrs', 'Usual hours worked per week at all jobs'),
 ('001-990', 'Hours'),
 ('blank', 'Not applicable'),
 ('atothrs', 'Actual hours worked per week at all jobs'),
 ('000-990', 'Hours'),
 ('blank', 'Not applicable'),
 ('hrsaway', 'Hours away from work, part-week absence only'),
 ('000-990', 'Hours'),
 ('blank', 'Not applicable'),
 ('yaway', 'Reason for part-week absence'),
 ('0', 'Other reasons'),
 ('1', 'Own illness or disability'),
 ('2', 'Personal or family responsibilities'),
 ('3', 'Vacation or civic holiday'),
 ('4', 'Working short-time'),
 ('blank', 'Not applicable'),
 ('paidot', 'Paid overtime hours in reference week'),
 ('000-990', 'Hours'),
 ('blank', 'Not applicable'),
 ('unpaidot', 'Unpaid overtime hours in reference week'),
 ('000-990', 'Hours'),
 ('blank', 'Not applicable'),
 ('xtrahrs', 'Number of overtime or extra hours worked'),
 ('000-990', 'Hours'),
 ('blank', 'Not applicable'),
 ('whypt', 'Reason for part-time work'),
 ('0', 'Other reasons'),
 ('1', 'Own illness or disability'),
 ('2', 'Caring for children'),
 ('3', 'Other personal or family responsibilities'),
 ('4', 'Going to school'),
 ('5', 'Personal preference'),
 ('6',
  'Business conditions or could not find full-time work, looked for full-time work in last month'),
 ('7',
  'Business conditions or could not find full-time work, did not look for full-time work in last month'),
 ('blank', 'Not applicable'),
 ('tenure', 'Job tenure with current employer'),
 ('001-240', 'Months'),
 ('blank', 'Not applicable'),
 ('prevten', 'Job tenure with previous employer'),
 ('001-240', 'Months'),
 ('blank', 'Not applicable'),
 ('hrlyearn', 'Usual hourly wages'),
 ('000001-999999', 'Current dollars'),
 ('blank', 'Not applicable'),
 ('union', 'Union status'),
 ('1', 'Union member'),
 ('2', 'Not a member but covered by a union contract or collective agreement'),
 ('3', 'Non-unionized'),
 ('blank', 'Not applicable'),
 ('permtemp', 'Job permanency'),
 ('1', 'Permanent'),
 ('2', 'Temporary, seasonal job'),
 ('3', 'Temporary, term or contract job'),
 ('4', 'Temporary, casual or other temporary jobs'),
 ('blank', 'Not applicable'),
 ('estsize', 'Establishment size'),
 ('1', 'Less than 20 employees'),
 ('2', '20 to 99 employees'),
 ('3', '100 to 500 employees'),
 ('4', 'More than 500 employees'),
 ('blank', 'Not applicable'),
 ('firmsize', 'Firm size'),
 ('1', 'Less than 20 employees'),
 ('2', '20 to 99 employees'),
 ('3', '100 to 500 employees'),
 ('4', 'More than 500 employees'),
 ('blank', 'Not applicable'),
 ('durunemp', 'Duration of unemployment'),
 ('01-99', 'Weeks'),
 ('blank', 'Not applicable'),
 ('flowunem', 'Flows into unemployment'),
 ('1', 'Job losers, temporary layoff'),
 ('2', 'Job losers, permanent layoff'),
 ('3', 'Job leavers'),
 ('4', 'Job leavers/losers (status unknown), worked more than 1 year ago '),
 ('5', 'New entrants'),
 ('6', 'Re-entrants, worked 1 year ago or less'),
 ('7', 'Re-entrants, worked more than 1 year ago'),
 ('8', 'Future starts'),
 ('blank', 'Not applicable'),
 ('unemftpt',
  'Job seekers by type of work sought and temporary layoffs by work status of last job'),
 ('1', 'Full-time'),
 ('2', 'Part-time'),
 ('3', 'Future starts'),
 ('blank', 'Not applicable'),
 ('whylefto', 'Reason for leaving job during previous year '),
 ('0', 'Job leavers, other reasons'),
 ('1', 'Job leavers, own illness or disability'),
 ('2', 'Job leavers, personal or family responsibilities'),
 ('3', 'Job leavers, going to school'),
 ('4', 'Job losers, laid off'),
 ('5', 'Job leavers, retired'),
 ('blank', 'Not applicable'),
 ('whyleftn', 'Reason for leaving job during previous year '),
 ('00', 'Job leavers, other reasons'),
 ('01', 'Job leavers, own illness or disability'),
 ('02', 'Job leavers, caring for children'),
 ('03', 'Job leavers, pregnancy'),
 ('04', 'Job leavers, personal or family responsibilities'),
 ('05', 'Job leavers, going to school'),
 ('06', 'Job leavers, dissatisfied'),
 ('07', 'Job leavers, retired'),
 ('08', 'Job leavers, business sold or closed down (self-employed)'),
 ('09', 'Job losers, end of seasonal job (employee)'),
 ('10', 'Job losers, end of temporary or casual (employee)'),
 ('11', 'Job losers, company moved or out of business (employee)'),
 ('12', 'Job losers, business conditions (employee)'),
 ('13', 'Job losers, dismissal or other reasons'),
 ('blank', 'Not applicable'),
 ('durjless', 'Duration of joblessness'),
 ('001-240', 'Months'),
 ('blank', 'Not applicable'),
 ('availabl', 'Availability during the reference week'),
 ('1', 'Not available'),
 ('2', 'Yes, available'),
 ('blank', 'Not applicable'),
 ('lkpubag', 'Unemployed, used public employment agency'),
 ('1', 'Yes'),
 ('blank', 'Not applicable'),
 ('lkemploy', 'Unemployed, checked with employers directly'),
 ('1', 'Yes'),
 ('blank', 'Not applicable'),
 ('lkrels', 'Unemployed, checked with friends or relatives'),
 ('1', 'Yes'),
 ('blank', 'Not applicable'),
 ('lkatads', 'Unemployed, looked at job ads'),
 ('1', 'Yes'),
 ('blank', 'Not applicable'),
 ('lkansads', 'Unemployed, placed or answered ads'),
 ('1', 'Yes'),
 ('blank', 'Not applicable'),
 ('lkothern ', 'Unemployed, other methods'),
 ('1', 'Yes'),
 ('blank', 'Not applicable'),
 ('prioract', 'Main activity before started looking for work'),
 ('0', 'Other'),
 ('1', 'Working'),
 ('2', 'Managing a home'),
 ('3', 'Going to school'),
 ('blank', 'Not applicable'),
 ('ynolook', 'Reason for not looking for work during the reference week'),
 ('0', 'Wanted work, reason - other'),
 ('1', 'Wanted work, reason - own illness or disability'),
 ('2', 'Wanted work, reason - caring for children'),
 ('3', 'Wanted work, reason - other personal or family responsibilities'),
 ('4', 'Wanted work, reason - school'),
 ('5', 'Wanted work, reason - awaiting recall or reply'),
 ('6', 'Wanted work, reason - discouraged'),
 ('blank', 'Not applicable'),
 ('tlolook', 'Temporary layoff, looked for work during the last four weeks'),
 ('1', 'Yes'),
 ('2', 'No'),
 ('blank', 'Not applicable'),
 ('schooln', 'Current student status'),
 ('1', 'Non-student'),
 ('2', 'Full-time student'),
 ('3', 'Part-time student'),
 ('blank', 'Not applicable'),
 ('efamtype', 'Type of economic family'),
 ('01', 'Person not in an economic family'),
 ('02', 'Dual-earner couple, no children or none under 25'),
 ('03', 'Dual-earner couple, youngest child 0 to 17'),
 ('04', 'Dual-earner couple, youngest child 18 to 24'),
 ('05', 'Single-earner couple, male employed, no children or none under 25'),
 ('06', 'Single-earner couple, male employed, youngest child 0 to 17'),
 ('07', 'Single-earner couple, male employed, youngest child 18 to 24'),
 ('08', 'Single-earner couple, female employed, no children or none under 25'),
 ('09', 'Single-earner couple, female employed, youngest child 0 to 17'),
 ('10', 'Single-earner couple, female employed, youngest child 18 to 24'),
 ('11', 'Non-earner couple, no children or none under 25'),
 ('12', 'Non-earner couple, youngest child 0 to 17'),
 ('13', 'Non-earner couple, youngest child 18 to 24'),
 ('14', 'Lone-parent family, parent employed, youngest child 0 to 17'),
 ('15', 'Lone-parent family, parent employed, youngest child 18 to 24'),
 ('16', 'Lone-parent family, parent not employed, youngest child 0 to 17'),
 ('17', 'Lone-parent family, parent not employed, youngest child 18 to 24'),
 ('18', 'Other families'),
 ('agyownk', 'Age of youngest child'),
 ('1', 'Youngest child less than 6 years'),
 ('2', 'Youngest child 6 to 12 years'),
 ('3', 'Youngest child 13 to 17 years'),
 ('4', 'Youngest child 18 to 24 years'),
 ('blank', 'Not applicable'),
 ('finalwt', 'Standard final weight'),
 ('1-99999', nan)]

In [236]:
dict1 = {}
pairs = [  ('0', 'Other'),
 ('1', 'Working'),
 ('2', 'Managing a home'),
 ('3', 'Going to school')]
for pair in pairs:
    dict1[int(pair[0])] = pair[1]
dict1

{0: 'Other', 1: 'Working', 2: 'Managing a home', 3: 'Going to school'}

In [135]:
# Probably answer to this question: ABS_Q162 / EQ 40 – 
# How many weeks had you been continuously absent from work, up to and including [refer to collection period]?

df_desc['number_of_weeks_absent_from_work'].mean(), df_desc['number_of_weeks_absent_from_work'].median(), df_desc['number_of_weeks_absent_from_work'].max()

(15.537783375314861, 4.0, 99.0)

In [137]:
df_desc[df_desc['number_of_weeks_absent_from_work']==99.0]

,labour_force_status,province,nine_largest_cmas,five-year_age_group,"age_in_2_and_3_year_groups,_15_to_29",sex,marital_status,highest_educational_attainment,single_or_multiple_jobholder,identifies_if_a_person_has_worked_in_the_last_year,full-_or_part-time_status_of_last_job,"class_of_worker,_main_job",immigrant_status,industry_of_main_job,occupation_at_main_job_col1,occupation_at_main_job_col2,"reason_of_absence,_full_week",number_of_weeks_absent_from_work,"paid_for_time_off,_full-week_absence_only",usual_hours_worked_per_week_at_main_job,actual_hours_worked_per_week_at_main_job,full-_or_part-time_status_at_main_or_only_job,usual_hours_worked_per_week_at_all_jobs,actual_hours_worked_per_week_at_all_jobs,"hours_away_from_work,_part-week_absence_only",reason_for_part-week_absence,paid_overtime_hours_in_reference_week,unpaid_overtime_hours_in_reference_week,number_of_overtime_or_extra_hours_worked,reason_for_part-time_work,job_tenure_with_current_employer,job_tenure_with_previous_employer,usual_hourly_wages,union_status,job_permanency,establishment_size,firm_size,duration_of_unemployment,flows_into_unemployment,job_seekers_by_type_of_work_sought_and_temporary_layoffs_by_work_status_of_last_job,reason_for_leaving_job_during_previous_year_,reason_for_leaving_job_during_previous_year_,duration_of_joblessness,availability_during_the_reference_week,"unemployed,_used_public_employment_agency","unemployed,_checked_with_employers_directly","unemployed,_checked_with_friends_or_relatives","unemployed,_looked_at_job_ads","unemployed,_placed_or_answered_ads","unemployed,_other_methods",main_activity_before_started_looking_for_work,reason_for_not_looking_for_work_during_the_reference_week,"temporary_layoff,_looked_for_work_during_the_last_four_weeks",current_student_status,type_of_economic_family,age_of_youngest_child,standard_final_weight
1028,"Employed, absent from work",47,0,65 to 69 years,NaN,Male,Married,High school graduate,Single,NaN,NaN,Private sector employees,Non-immigrant,"Business, building and other support services","Sales and service occupations, except management",Sales and service representatives and other cu...,Own illness or disability,99.0,2.0,450.0,0.0,1.0,450.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,50.0,NaN,1500.0,3.0,1.0,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,133
1062,"Employed, absent from work",35,0,50 to 54 years,NaN,Female,Divorced,Postsecondary certificate or diploma,Single,NaN,NaN,Public sector employees,Non-immigrant,Public administration,"Business, finance and administration occupatio...",Administrative and financial support and suppl...,Own illness or disability,99.0,2.0,400.0,0.0,1.0,400.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,240.0,NaN,4200.0,1.0,3.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,15,4.0,317
1694,"Employed, absent from work",46,0,55 to 59 years,NaN,Female,Married,High school graduate,Single,NaN,NaN,Private sector employees,Non-immigrant,Finance and insurance,"Sales and service occupations, except management",Sales and service representatives and other cu...,Own illness or disability,99.0,2.0,400.0,0.0,1.0,400.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,240.0,NaN,1700.0,3.0,1.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4,4.0,125
4211,"Employed, absent from work",10,0,55 to 59 years,NaN,Male,Married,Postsecondary certificate or diploma,Single,NaN,NaN,Public sector employees,Non-immigrant,Educational services,"Trades, transport and equipment operators and ...",Technical trades and transportation officers a...,Own illness or disability,99.0,2.0,400.0,0.0,1.0,400.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,104.0,NaN,3500.0,1.0,1.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2,NaN,83
7098,"Employed, absent from work",35,0,60 to 64 years,NaN,Male,Married,Postsecondary certificate or diploma,Single,NaN,NaN,Private sector employees,Non-immigrant,Manufacturing - durable goods,Natural and applied sciences and related occup...,Technical occupations related to natural and a...,Own illness or disability,99.0,1.0,400.0,0.0,1.0,400.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,240.0,NaN,3846.0,3.0,1.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5,NaN,441
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106305,"Employed, absent from work",48,8,50 to 54 years,NaN,Female,Married,Postsecondary certificate or diploma,Single,NaN,NaN,Public sector employees,Non-immigrant,Health care and social assistance,"Health occupations, except management",Nursing and allied health professionals,Own illness or disability,99.0,2.0,525.0,0.0,1.0,525.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,240.0,NaN,4934.0,1.0,1.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4,4.0,521
106503,"Employed, absent from work",24,0,60 to 64 years,NaN,Female,"Single, never married",High school graduate,Single,NaN,NaN,Private sector employees,Non-immigrant,"Information, culture and recreation","Sales and service occupations, except management",Sales and service representatives and other cu...,Own illness or disability,99.0,2.0,350.0,0.0,1.0,350.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,240.0,NaN,2967.0,1.0,1.0,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,NaN,208
106628,"Employed, absent from work",35,4,55 to 59 years,NaN,Female,Married,Postsecondary certificate or diploma,Single,NaN,NaN,Private sector employees,Non-immigrant,Finance and insurance,"Business, finance and administration occupatio...",Administrative and financial supervisors and s...,Own illness or disability,99.0,2.0,120.0,0.0,2.0,120.0,0.0,NaN,NaN,NaN,NaN,NaN,5.0,214.0,NaN,6571.0,3.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,18,NaN,554
107315,"Employed, absent from work",35,4,50 to 54 years,NaN,Female,Divorced,Postsecondary certificate or diploma,Single,NaN,NaN,Private sector employees,Non-immigrant,Transportation and warehousing,"Sales and service occupations, except management",Sales and service representatives and other cu...,Own illness or disability,99.0,2.0,400.0,0.0,1.0,400.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,240.0,NaN,2800.0,1.0,1.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,14,3.0,195
107659,"Employed, absent from work",12,0,60 to 64 years,NaN,Female,Married,Bachelor's degree,Single,NaN,NaN,Public sector employees,Non-immigrant,Health care and social assistance,"Health occupations, except management",Nursing and allied health professionals,Own illness or disability,99.0,1.0,480.0,0.0,1.0,480.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,240.0,NaN,3005.0,1.0,1.0,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4,4.0,233